

<ion-content>

  <ion-card>
    <ion-card-content>

      <form #formularioLaborGeneralContratista="ngForm">

          <ion-item>
              <ion-label position="floating">Nombre Labor General:</ion-label>
              <ion-input (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Objetivo labor:</ion-label>
              <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
          </ion-item>


          <ion-item>
              <ion-label position="floating">Cuartel:</ion-label>
              <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
          </ion-item>


          <ion-item>
              <ion-label position="floating">Descripción:</ion-label>
              <ion-input (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-input>
          </ion-item>




          <ion-item>
              <ion-label position="floating">Trato Inicial:</ion-label>
              <ion-input [(ngModel)]="labores.laborValorTratoInicial" name="laborValorTratoInicial" required></ion-input>
          </ion-item>




      
              <ion-item>
                  <ion-label position="floating">Contratista</ion-label>
                  <ion-select value="notifications" ok-text="OK" cancel-text="Cancelar"   [(ngModel)]="contratista.idContratista" name="idContratista" cancel-text="Cancelar" required>

                      <ion-select-option *ngFor="let con of contratista" value="{{con.idContratista}}">
                          {{con.contratistaNombre}}
                      </ion-select-option>
                  </ion-select>
              </ion-item>
        



      </form>



  </ion-card-content>
  <br><br><br><br><br><br>

  <ion-tabs>
    
    <ion-tab-bar slot="bottom" color="light" > 
      <ion-tab-button *ngIf="formGeneral" type="submit" shape="round" color="success" expand="block"  [disabled]="formularioLaborGeneralContratista.invalid" (click)="ruta_laborGeneral('contratista')">
  
          <ion-icon name="leaf-outline" color="success"></ion-icon>
          <ion-label>Confirmar</ion-label>
      </ion-tab-button>
      </ion-tab-bar>
      </ion-tabs>

  </ion-card>















</ion-content>

 
