<ion-header>
    



      
      <ion-toolbar>
          <ion-buttons slot="start" (click)="volver()">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          
          <ion-title style="font-size: 17px; font-stretch: condensed; " align="center">Química Interna
          </ion-title>
  
          <ion-buttons slot="end">
              <ion-icon class="icono_small" name="quimica"></ion-icon>
            <ion-icon class="icono_mediano" name="asignadointerno-negro"></ion-icon>
          </ion-buttons>
  
        </ion-toolbar>

 
</ion-header>





  <ion-content padding>
    <ion-card>
      <ion-list>
        <!--<ion-item style="font-size: 12px">OT Nº: {{laborOT}}</ion-item>-->
        <ion-item>{{laborNombre}}</ion-item>
        <ion-item>{{laborDescripcion}}</ion-item>
      </ion-list>
    </ion-card>
  
    <form #formularioSelNumero="ngForm">
  
  
      <ion-card-content style="padding-top:5px;padding-bottom:0px;">
        <!-- Toggles in a List -->
        <ion-row>
          <ion-col size="2">
            <ion-label position="floating">Grupo</ion-label>
          </ion-col>
          <ion-col size="4">
  
            <ion-toggle (click)="mostrar = !mostrar" color="danger" [disabled]="toggleEstado"></ion-toggle>
  
          </ion-col>
  
          <ion-col size="2" *ngIf="mostrar">
            <ion-label position="floating">Nº</ion-label>
          </ion-col>
  
          <ion-col size="4" *ngIf="mostrar">
            <ion-input style="background-color:lightgray " [disabled]="toggleEstado" type="number" minlength="1"
              maxlength="5" [(ngModel)]="numero" name="numero" required pattern="[0-9]+"></ion-input>
          </ion-col>
  
        </ion-row>
      </ion-card-content>
  
  
  <!--Boton escanear-->
      <ion-card-content *ngIf="!mostrar" align="center" style="padding-top:0px;padding-bottom:5px;">
       
        <ion-row>
          <ion-col style="padding-top:0px;padding-bottom:5px;">
            <ion-button color="success" (click)="scan(this.laborOT)" [disabled]="toggleEstadoBoton" >Escanear</ion-button>
  
            <!--boton crear rut-->
  <!--
              <ion-button [disabled]="toggleEstadoBoton" (click)="presentAlertPrompt()" color="danger" size="small"
              shape="round">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
  -->
            <ion-button *ngIf="boton_rut" (click)="validar_rut()" [disabled]="toggleEstadoBoton"  color="danger" size="small" shape="round" >
              <ion-icon  slot="icon-only"  name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
  
      </ion-card-content>
  
  <!--validador de rut-->
  
  <!--  <ion-button *ngIf="boton_rut" (click)="validar_rut()" color="light" fill="outline" size="small" shape="round">
    <ion-icon  slot="icon-only"  name="add-circle-outline"></ion-icon>
  </ion-button>-->
  
  <ion-row *ngIf="caja_rut">
  
   <ion-col style="padding-top:0px;padding-bottom:15px;">          
  <input id="usuario4" value="" style="margin-left: 10px;text-align: center;font-size: 25px;height: 30px;margin-top: 10px;border-width: 0.1px;border-color: #eeeeee;" ng-model="usuario4"  name="usuario4" type="text" autofocus="" onchange="checkRutField(usuario4.value,'usuario4','rut4')" size="15" maxlength="15" required >
  <ion-input id="rut4" value="" [(ngModel)]="datosUsuario4.rut4" name="rut4" hidden></ion-input> <!--hidden-->
  <ion-button *ngIf="leer_rutValEstado() == 'true'" id="boton_rut_val" style="margin-bottom:20px;" (click)="ingresar_rut('Manual', this.laborOT, 'estado')" color="danger" size="small" shape="round" ><ion-icon  slot="icon-only"  name="add-circle-outline"></ion-icon></ion-button>
   </ion-col>
  </ion-row>
  
  
<!--
    <ion-row *ngIf="caja_rut_datos">
    <ion-item >
        <ion-label position="floating">Nombre de Usuario:</ion-label>
    <ion-input id="usuarioNombre" value="" [(ngModel)]="datosUsuario.usuarioNombre" name="usuarioNombre"></ion-input> 
  </ion-item>
    <ion-item >
        <ion-label position="floating">Apellido Paterno de Usuario:</ion-label>
    <ion-input id="usuarioApellidoPaterno" value="" [(ngModel)]="datosUsuario.usuarioApellidoPaterno" name="usuarioApellidoPaterno"></ion-input>
  </ion-item>
  <ion-item > 
      <ion-label position="floating">Celular:</ion-label>
    <ion-input id="usuarioCelular" value="" [(ngModel)]="datosUsuario.usuarioCelular" name="usuarioCelular"></ion-input> 
  </ion-item>
  <button (click)="guardar_nuevo_rut_usuario(datosUsuario, datosUsuario4.rut4)">Guardar</button>
  </ion-row>
-->
  
  
  
  
  
    </form>
  
    <ion-card-content *ngIf="mostrar" style="padding-top:0px;padding-bottom:5px;">
      <ion-row>
        <ion-col style="padding-top:0px;padding-bottom:5px;">
  
          <div align="center">
            <ion-button color="success" expand="block" id="botonNumero" type="submit"
              [disabled]="formularioSelNumero.invalid" (click)="guardarRegistroNgrupo()">
              Cargar Grupo
            </ion-button>
          </div>
  
        </ion-col>
      </ion-row>
    </ion-card-content>
  
  
    <ion-card>
      <div class="scroll">
  
        <ion-item-sliding *ngFor="let registro of dataLocal.guardados | filtroOT:laborOT; let i = index">
  
          <ion-item (click)="abrirRegistro(registro)" detail>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>
              <h2>{{registro.text}}</h2>
            </ion-label>
          </ion-item>
  
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="cerrarLabor(i)">Borrar</ion-item-option>
          </ion-item-options>
  
        </ion-item-sliding>
  
      </div>
    </ion-card>
  
    <!--boton ingresar labor-->
    <ion-button (click)="volver()" color="success" expand="full" shape="round">Ingresar Aplicación Química</ion-button>
  
  </ion-content>