<!--
  <ion-header>
      <ion-toolbar>
          <ion-grid>
              <ion-row>
                <ion-col >
                    <ion-button size="block" color="danger">
                        <ion-icon style="font-size:35px;" name="entrada-negro"></ion-icon>
                      </ion-button>
                </ion-col>
                <ion-col >
                    <ion-button size="block"  color="medium">
                        <ion-icon style="font-size:35px;" name="play"></ion-icon>
                      </ion-button>
                </ion-col>
                <ion-col >
                    <ion-button size="block" color="medium">
                        <ion-icon style="font-size:35px;" name="pause"></ion-icon>
                      </ion-button>
                </ion-col>
                <ion-col >
                    <ion-button size="block" color="danger">
                        <ion-icon style="font-size:35px;" name="salida-negro"></ion-icon>
                      </ion-button>
                </ion-col>
              </ion-row>
        

          
            </ion-grid>



    </ion-toolbar>

    
    </ion-header>
  -->