<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title align="center">Crear Labor General
    </ion-title>

    <ion-buttons slot="end">
     
        <ion-icon style="font-size:30px;padding-right: 20px;" name="leaf-outline"></ion-icon>
    </ion-buttons>


</ion-toolbar>
</ion-header>

<ion-content>

  <!--menu taps labores -->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="Asignado" value="autoasignado" *ngIf="permiso == 1 || permiso == 3 || permiso == 2">
        <ion-icon style="font-size: 40px;" name="person-outline"></ion-icon>
        <ion-label style="font-size:12px;">Auto Asignado</ion-label>
   
      </ion-tab-button>
  
      <ion-tab-button tab="Interna" value="interna" *ngIf="permiso == 1 || permiso == 3 ">
        <ion-label style="font-size:12px;">MO Interna</ion-label>
        <ion-icon style="font-size: 40px;" name="people-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="contratista" value="contratista" *ngIf="permiso == 1">
        <ion-label style="font-size:12px;">Contratista</ion-label>
        <ion-icon style="font-size: 40px;" name="construct-outline"></ion-icon>
      </ion-tab-button>
  
   
    </ion-tab-bar>
  </ion-tabs>


<br><br>
<br>
<br>
<br>





     

</ion-content>
