

<ion-content>

  <ion-card>



      <ion-card-content>

        <form #formularioLaborGeneralInterna="ngForm">

            <ion-item>
                <ion-label position="floating">Nombre Labor General:</ion-label>
                <ion-input (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Objetivo labor:</ion-label>
                <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating">Cuartel:</ion-label>
                <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating">Descripción:</ion-label>
                <ion-input (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-input>
            </ion-item>


        </form>





    </ion-card-content>

    <br><br><br><br><br><br>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="light" > 
          <ion-tab-button *ngIf="formGeneral" type="submit" shape="round" color="success" expand="block"  [disabled]="formularioLaborGeneralInterna.invalid" (click)="ruta_laborGeneral('interna')">
      
              <ion-icon name="leaf-outline" color="success"></ion-icon>
              <ion-label>Confirmar</ion-label>
          </ion-tab-button>
          </ion-tab-bar>
          </ion-tabs>
 


  </ion-card>















</ion-content>

     



            


        

              
          

