<ion-header>
    <!--
      <app-header></app-header>
    -->

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      
      <ion-title align="center">Principal 
      </ion-title>
  
 
        <ion-buttons slot="end">
        <!--<ion-icon class="icono_mediano" name="agro"></ion-icon>-->
      </ion-buttons>
 
  
    </ion-toolbar>

</ion-header>



<ion-content >


<!--
      <div align="center" class="fondo">
        <img style="width:90%;margin-top:30%;" src="../../../assets/icon/generis_logo.svg"/>
      </div>
-->

<!--
  {{listado}}
-->


<!--
      <ion-list>
        <ion-item *ngFor="let listaCompleta of listado">
        <h2>{{listaCompleta.latitud}}</h2>
        </ion-item>
</ion-list>

-->



  </ion-content>



<ion-tabs>

  <ion-tab-bar slot="bottom">

      <ion-tab-button routerLink="/entrada">
        <ion-icon style="font-size:40px;" name="clipboard"></ion-icon>
        <ion-label>Labores Abiertas</ion-label>
      </ion-tab-button>

    <ion-tab-button routerLink="/labor-general">
      <ion-icon style="font-size:40px;" name="agro"></ion-icon>
      <ion-label>Labor General</ion-label>
    </ion-tab-button>

    <ion-tab-button  routerLink="/aplicacion-quimica">
      <ion-icon style="font-size:40px;" name="quimica"></ion-icon>
      <ion-label>Aplicación Química</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>