<ion-header>



      <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          
          <ion-title align="center">
            Aplicación Química
          </ion-title>
  
          <ion-buttons slot="end">
            <ion-icon style="font-size:30px;padding-right: 20px;" src="assets/logo-react.svg"></ion-icon>      
          </ion-buttons>
  
        </ion-toolbar>
      
 
</ion-header>
  
  
  
  
  
  
  

  
  
  
  
  
  
  




  
  
  
  
  
  <ion-content>

  
































<!--NUEVO MENU-->

<ion-toolbar>
  {{segmento}} - {{permiso}}
    
  <ion-segment [(ngModel)]="segmento">
      
      <ion-segment-button value="autoasignado" *ngIf="permiso == 3">
          <ion-label style="font-size:12px;">Auto Asignado</ion-label>
          <ion-icon style="font-size: 40px;" name="autoasignado-negro"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="interna" *ngIf="permiso == 1 || permiso == 3">
          <ion-label style="font-size:12px;">Interna</ion-label>
          <ion-icon style="font-size: 40px;" name="asignadoInterno-negro"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="contratista" *ngIf="permiso == 1 ">
          <ion-label style="font-size:12px;">Contratista</ion-label>
          <ion-icon style="font-size: 40px;" name="asignadoContratista-negro"></ion-icon>
      </ion-segment-button>
  
  
    </ion-segment>
  
  </ion-toolbar>
    
  
  
    <div [ngSwitch]="segmento">
  

      <!--Autoasignado-->
      <ion-card *ngSwitchCase="'autoasignado'">
  
            
                  <ion-list-header >
                        
                      <ion-label style="font-weight:bold; ">APLIC. QUIMICA AUTOASIG.</ion-label>
              
                    </ion-list-header>
      
                  <form #formularioAplicacionQuimicaAutoasignada ="ngForm" (ngSubmit)="ngSubmitTemplate()">
                  
                      <ion-item>
                          <ion-label position="floating" >Nombre Aplicación Química:</ion-label>
                          <ion-input (change)="guardar_nombre(labores.nombre)" [(ngModel)]="labores.nombre" name="nombre" required></ion-input>
                        </ion-item>
          
                        <ion-item>
                            <ion-label position="floating" >Unidad:</ion-label>
                            <ion-input [(ngModel)]="labores.tipoTratoUnidadMedida" name="tipoTratoUnidadMedida" required></ion-input>
                        </ion-item>
                  
                        <ion-item>
                            <ion-label position="floating" >Descripción:</ion-label>
                            <ion-textarea (change)="guardar_descripcion(labores.descripcion)" [(ngModel)]="labores.descripcion" name="descripcion" required></ion-textarea>
                        </ion-item>
        
                        <ion-grid>
                            <ion-row>
                              <ion-col>
                                      <ion-item>
                                          <ion-label position="floating" >Cuartel:</ion-label>
                                          <ion-input [(ngModel)]="labores.nombreCuartel" name="nombreCuartel" required></ion-input>
                                  </ion-item>
                              </ion-col>
                              <ion-col>
                                      <ion-item>
                                          <ion-label position="floating" >Máquina y Tractor:</ion-label>
                                          <ion-input [(ngModel)]="labores.nombreMaquina" name="nombreMaquina" required></ion-input>
                                      </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
        
      
      
      
                        <ion-list>
                            <ion-list-header >
                        
                                <ion-label>Detalle Aplicación de Producto</ion-label>
                        
                              </ion-list-header>
                        
                          <ion-item>
                            
                            
                        
                            <ion-label>

                                <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">CANTIDAD DE AGUA</ion-label>
                                    <ion-input style="font-size:10px;" [(ngModel)]="labores.cantidadAgua" name="cantidadAgua" required></ion-input>
                                    </ion-item>
                        
                              <ion-grid>
                                <ion-row>
                                  <ion-col size="5">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                      <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico1" name="nombreProductoQuimico1" required></ion-input>
                                      </ion-item>
                                  </ion-col>
                                  <ion-col size="3">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                      <ion-input [(ngModel)]="labores.cantidadProductoQuimico1" name="cantidadProductoQuimico1" required></ion-input>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                        <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico1" name="medidaProductoQuimico1" required>
                                            <ion-select-option value="lts">Litros</ion-select-option>
                                            <ion-select-option value="cc">C.C.</ion-select-option>
                                            <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                            
                                        </ion-select>
                                      </ion-item>
                                          
                                    </ion-col>
                                  
                                </ion-row>

                              </ion-grid>
                        
                            </ion-label>
                        
                          </ion-item>
                        
                        
                          <ion-item>
                            
                            
                        
                              <ion-label>
                          
                                <ion-grid>
                                  <ion-row>
                                    <ion-col size="5">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                        <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico2" name="nombreProductoQuimico2" ></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                        <ion-input [(ngModel)]="labores.cantidadProductoQuimico2" name="cantidadProductoQuimico2" ></ion-input>
                                        </ion-item>
                                      </ion-col>
                                      <ion-col size="4">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                          <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico2" name="medidaProductoQuimico2" >
                                              <ion-select-option value="lts">Litros</ion-select-option>
                                              <ion-select-option value="cc">C.C.</ion-select-option>
                                              <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                            
                                          </ion-select>
                                        </ion-item>
                                            
                                      </ion-col>
                                    
                                  </ion-row>
                   
                                </ion-grid>
                          
                              </ion-label>
                          
                            </ion-item>
                        
                        
                        
                        
                        
                        
                            <ion-item>
                            
                            
                        
                                <ion-label>
                            
                                  <ion-grid>
                                    <ion-row>
                                      <ion-col size="5">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                          <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico3" name="nombreProductoQuimico3" ></ion-input>
                                          </ion-item>
                                      </ion-col>
                                      <ion-col size="3">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                          <ion-input [(ngModel)]="labores.cantidadProductoQuimico3" name="cantidadProductoQuimico3" ></ion-input>
                                          </ion-item>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-item>
                                            <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                            <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico3" name="medidaProductoQuimico3" >
                                                <ion-select-option value="lts">Litros</ion-select-option>
                                                <ion-select-option value="cc">C.C.</ion-select-option>
                                                <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                              
                                            </ion-select>
                                          </ion-item>
                                              
                                        </ion-col>
                                      
                                    </ion-row>
              
      
                                  </ion-grid>
                            
                                </ion-label>
                            
                              </ion-item>
                        
                        
                        
                        
                        
                        
                            <ion-item>
                            
                            
                        
                                <ion-label>
                            
                                  <ion-grid>
                                    <ion-row>
                                      <ion-col size="5">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                          <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico4" name="nombreProductoQuimico4" ></ion-input>
                                          </ion-item>
                                      </ion-col>
                                      <ion-col size="3">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                          <ion-input [(ngModel)]="labores.cantidadProductoQuimico4" name="cantidadProductoQuimico4" ></ion-input>
                                          </ion-item>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-item>
                                            <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                            <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico4" name="medidaProductoQuimico4">
                                                <ion-select-option value="lts">Litros</ion-select-option>
                                                <ion-select-option value="cc">C.C.</ion-select-option>
                                                <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                              
                                            </ion-select>
                                          </ion-item>
                                              
                                        </ion-col>
                                      
                                    </ion-row>

                                  </ion-grid>
                            
                                </ion-label>
                            
                              </ion-item>
                        
                        
                        
                        
                              <ion-item>
                            
                            
                        
                                  <ion-label>
                              
                                    <ion-grid>
                                      <ion-row>
                                        <ion-col size="5">
                                            <ion-item>
                                            <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                            <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico5" name="nombreProductoQuimico5" ></ion-input>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col size="3">
                                            <ion-item>
                                            <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                            <ion-input [(ngModel)]="labores.cantidadProductoQuimico5" name="cantidadProductoQuimico5" ></ion-input>
                                            </ion-item>
                                          </ion-col>
                                          <ion-col size="4">
                                              <ion-item>
                                              <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                              <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico5" name="medidaProductoQuimico5" >
                                                  <ion-select-option value="lts">Litros</ion-select-option>
                                                  <ion-select-option value="cc">C.C.</ion-select-option>
                                                  <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                                
                                              </ion-select>
                                            </ion-item>
                                                
                                          </ion-col>
                                        
                                      </ion-row>

                                    </ion-grid>
                              
                                  </ion-label>
                              
                                </ion-item>






                                <ion-item>
                            
                            
                        
                                    <ion-label>
                                
                                      <ion-grid>
                                        <ion-row>
                                          <ion-col size="5">
                                              <ion-item>
                                              <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                              <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico6" name="nombreProductoQuimico6" ></ion-input>
                                              </ion-item>
                                          </ion-col>
                                          <ion-col size="3">
                                              <ion-item>
                                              <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                              <ion-input [(ngModel)]="labores.cantidadProductoQuimico6" name="cantidadProductoQuimico6" ></ion-input>
                                              </ion-item>
                                            </ion-col>
                                            <ion-col size="4">
                                                <ion-item>
                                                <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                                <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico6" name="medidaProductoQuimico6" >
                                                    <ion-select-option value="lts">Litros</ion-select-option>
                                                    <ion-select-option value="cc">C.C.</ion-select-option>
                                                    <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                                  
                                                </ion-select>
                                              </ion-item>
                                                  
                                            </ion-col>
                                          
                                        </ion-row>
  
                                      </ion-grid>
                                
                                    </ion-label>
                                
                                  </ion-item>




                                  <ion-item>
                            
                            
                        
                                      <ion-label>
                                  
                                        <ion-grid>
                                          <ion-row>
                                            <ion-col size="5">
                                                <ion-item>
                                                <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                                <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico7" name="nombreProductoQuimico7" ></ion-input>
                                                </ion-item>
                                            </ion-col>
                                            <ion-col size="3">
                                                <ion-item>
                                                <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                                <ion-input [(ngModel)]="labores.cantidadProductoQuimico7" name="cantidadProductoQuimico7" ></ion-input>
                                                </ion-item>
                                              </ion-col>
                                              <ion-col size="4">
                                                  <ion-item>
                                                  <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                                  <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico7" name="medidaProductoQuimico7" >
                                                      <ion-select-option value="lts">Litros</ion-select-option>
                                                      <ion-select-option value="cc">C.C.</ion-select-option>
                                                      <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                                    
                                                  </ion-select>
                                                </ion-item>
                                                    
                                              </ion-col>
                                            
                                          </ion-row>
    
                                        </ion-grid>
                                  
                                      </ion-label>
                                  
                                    </ion-item>



                        
                                    <ion-item>
                            
                            
                        
                                        <ion-label>
                                    
                                          <ion-grid>
                                            <ion-row>
                                              <ion-col size="5">
                                                  <ion-item>
                                                  <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                                  <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico8" name="nombreProductoQuimico8" ></ion-input>
                                                  </ion-item>
                                              </ion-col>
                                              <ion-col size="3">
                                                  <ion-item>
                                                  <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                                  <ion-input [(ngModel)]="labores.cantidadProductoQuimico8" name="cantidadProductoQuimico8" ></ion-input>
                                                  </ion-item>
                                                </ion-col>
                                                <ion-col size="4">
                                                    <ion-item>
                                                    <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                                    <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico8" name="medidaProductoQuimico8" >
                                                        <ion-select-option value="lts">Litros</ion-select-option>
                                                        <ion-select-option value="cc">C.C.</ion-select-option>
                                                        <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                                      
                                                    </ion-select>
                                                  </ion-item>
                                                      
                                                </ion-col>
                                              
                                            </ion-row>
      
                                          </ion-grid>
                                    
                                        </ion-label>
                                    
                                      </ion-item>





                                      <ion-item>
                            
                            
                        
                                          <ion-label>
                                      
                                            <ion-grid>
                                              <ion-row>
                                                <ion-col size="5">
                                                    <ion-item>
                                                    <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                                    <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico9" name="nombreProductoQuimico9" ></ion-input>
                                                    </ion-item>
                                                </ion-col>
                                                <ion-col size="3">
                                                    <ion-item>
                                                    <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                                    <ion-input [(ngModel)]="labores.cantidadProductoQuimico9" name="cantidadProductoQuimico9" ></ion-input>
                                                    </ion-item>
                                                  </ion-col>
                                                  <ion-col size="4">
                                                      <ion-item>
                                                      <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                                      <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico9" name="medidaProductoQuimico9" >
                                                          <ion-select-option value="lts">Litros</ion-select-option>
                                                          <ion-select-option value="cc">C.C.</ion-select-option>
                                                          <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                                        
                                                      </ion-select>
                                                    </ion-item>
                                                        
                                                  </ion-col>
                                                
                                              </ion-row>
        
                                            </ion-grid>
                                      
                                          </ion-label>
                                      
                                        </ion-item>



                        
                        </ion-list>
      
     
                  
                  </form>
                  
          


                  <ion-tab-bar slot="bottom" color="light" > 
                    <ion-tab-button type="submit" shape="round"col or="success" type="submit" shape="round" fill="outline"
                    [disabled]="formularioAplicacionQuimicaAutoasignada.invalid"
                    (click)="ruta_aplicacionQuimicaAutoasignada()">
                
                        <ion-icon name="logo-react" color="success"></ion-icon>
                        <ion-label>Confirmar</ion-label>
                    </ion-tab-button>
                    </ion-tab-bar>


                 
      
       
      </ion-card>
    
  
  
  
  
  
  <!--INTERNA-->
      <ion-card *ngSwitchCase="'interna'">


        <ion-label >APLICACION QUIMICA INTERNA</ion-label>

        <ion-list-header >
                  
          <ion-label >APLICACION QUIMICA INTERNA</ion-label>
  
        </ion-list-header>

      <form #formularioAplicacionQuimica ="ngForm">
      
          <ion-item>
              <ion-label position="floating" >Nombre Aplicación Química</ion-label>
              <ion-input (change)="guardar_nombre(labores.nombre)" [(ngModel)]="labores.nombre" name="nombre" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" >Unidad:</ion-label>
                <ion-input [(ngModel)]="labores.tipoTratoUnidadMedida" name="tipoTratoUnidadMedida" required></ion-input>
            </ion-item>
      
            <ion-item>
                <ion-label position="floating" >Descripción:</ion-label>
                <ion-textarea (change)="guardar_descripcion(labores.descripcion)" [(ngModel)]="labores.descripcion" name="descripcion" required></ion-textarea>
            </ion-item>

            <ion-grid>
                <ion-row>
                  <ion-col>
                          <ion-item>
                              <ion-label position="floating" >Cuartel:</ion-label>
                              <ion-input [(ngModel)]="labores.nombreCuartel" name="nombreCuartel" required></ion-input>
                      </ion-item>
                  </ion-col>
                  <ion-col>
                          <ion-item>
                              <ion-label position="floating" >Máquina y Tractor:</ion-label>
                              <ion-input [(ngModel)]="labores.nombreMaquina" name="nombreMaquina" required></ion-input>
                          </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>




            <ion-list>
                <ion-list-header >
            
                    <ion-label>Detalle Aplicación de Producto</ion-label>
            
                  </ion-list-header>
                  
            
                  <ion-item>
                      <ion-label style="font-size:10px;" position="floating">CANTIDAD DE AGUA</ion-label>
                      <ion-input style="font-size:10px;" [(ngModel)]="labores.cantidadAgua" name="cantidadAgua" required></ion-input>
                      </ion-item>

              <ion-item>

                
                
            
                <ion-label>
            
                  <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                          <ion-item>
                          <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                          <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico1" name="nombreProductoQuimico1" required></ion-input>
                          </ion-item>
                      </ion-col>
                      <ion-col size="3">
                          <ion-item>
                          <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                          <ion-input [(ngModel)]="labores.cantidadProductoQuimico1" name="cantidadProductoQuimico1" required></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item>
                            <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                            <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico1" name="medidaProductoQuimico1" required>
                                <ion-select-option value="lts">Litros</ion-select-option>
                                <ion-select-option value="cc">C.C.</ion-select-option>
                                <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                              
                            </ion-select>
                          </ion-item>
                              
                        </ion-col>
                      
                    </ion-row>

                  </ion-grid>
            
                </ion-label>
            
              </ion-item>
            
            
              <ion-item>
                
                
            
                  <ion-label>
              
                    <ion-grid>
                      <ion-row>
                        <ion-col size="5">
                            <ion-item>
                            <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                            <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico2" name="nombreProductoQuimico2" ></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                            <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                            <ion-input [(ngModel)]="labores.cantidadProductoQuimico2" name="cantidadProductoQuimico2" ></ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col size="4">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                              <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico2" name="medidaProductoQuimico2" >
                                  <ion-select-option value="lts">Litros</ion-select-option>
                                  <ion-select-option value="cc">C.C.</ion-select-option>
                                  <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                
                              </ion-select>
                            </ion-item>
                                
                          </ion-col>
                        
                      </ion-row>

                    </ion-grid>
              
                  </ion-label>
              
                </ion-item>
            
            
            
            
            
            
                <ion-item>
                
                
            
                    <ion-label>
                
                      <ion-grid>
                        <ion-row>
                          <ion-col size="5">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                              <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico3" name="nombreProductoQuimico3" ></ion-input>
                              </ion-item>
                          </ion-col>
                          <ion-col size="3">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                              <ion-input [(ngModel)]="labores.cantidadProductoQuimico3" name="cantidadProductoQuimico3" ></ion-input>
                              </ion-item>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico3" name="medidaProductoQuimico3" >
                                    <ion-select-option value="lts">Litros</ion-select-option>
                                    <ion-select-option value="cc">C.C.</ion-select-option>
                                    <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                  
                                </ion-select>
                              </ion-item>
                                  
                            </ion-col>
                          
                        </ion-row>

                      </ion-grid>
                
                    </ion-label>
                
                  </ion-item>
            
            
            
            
            
            
                <ion-item>
                
                
            
                    <ion-label>
                
                      <ion-grid>
                        <ion-row>
                          <ion-col size="5">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                              <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico4" name="nombreProductoQuimico4" ></ion-input>
                              </ion-item>
                          </ion-col>
                          <ion-col size="3">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                              <ion-input [(ngModel)]="labores.cantidadProductoQuimico4" name="cantidadProductoQuimico4" ></ion-input>
                              </ion-item>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico4" name="medidaProductoQuimico4">
                                    <ion-select-option value="lts">Litros</ion-select-option>
                                    <ion-select-option value="cc">C.C.</ion-select-option>
                                    <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                  
                                </ion-select>
                              </ion-item>
                                  
                            </ion-col>
                          
                        </ion-row>

                      </ion-grid>
                
                    </ion-label>
                
                  </ion-item>
            
            
            
            
                  <ion-item>
                
                      <ion-label>
                  
                        <ion-grid>
                          <ion-row>
                            <ion-col size="5">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico5" name="nombreProductoQuimico5" ></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="3">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                <ion-input [(ngModel)]="labores.cantidadProductoQuimico5" name="cantidadProductoQuimico5" ></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col size="4">
                                  <ion-item>
                                  <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                  <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico5" name="medidaProductoQuimico5" >
                                      <ion-select-option value="lts">Litros</ion-select-option>
                                      <ion-select-option value="cc">C.C.</ion-select-option>
                                      <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                    
                                  </ion-select>
                                </ion-item>
                                    
                              </ion-col>
                            
                          </ion-row>

                        </ion-grid>
                  
                      </ion-label>
                  
                    </ion-item>




                    <ion-item>
                
                        <ion-label>
                    
                          <ion-grid>
                            <ion-row>
                              <ion-col size="5">
                                  <ion-item>
                                  <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                  <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico6" name="nombreProductoQuimico6" ></ion-input>
                                  </ion-item>
                              </ion-col>
                              <ion-col size="3">
                                  <ion-item>
                                  <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                  <ion-input [(ngModel)]="labores.cantidadProductoQuimico6" name="cantidadProductoQuimico6" ></ion-input>
                                  </ion-item>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                    <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico6" name="medidaProductoQuimico6" >
                                        <ion-select-option value="lts">Litros</ion-select-option>
                                        <ion-select-option value="cc">C.C.</ion-select-option>
                                        <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                      
                                    </ion-select>
                                  </ion-item>
                                      
                                </ion-col>
                              
                            </ion-row>
  
                          </ion-grid>
                    
                        </ion-label>
                    
                      </ion-item>


            

                      <ion-item>
                
                          <ion-label>
                      
                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                    <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                    <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico7" name="nombreProductoQuimico7" ></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                    <ion-input [(ngModel)]="labores.cantidadProductoQuimico7" name="cantidadProductoQuimico7" ></ion-input>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col size="4">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                      <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico7" name="medidaProductoQuimico7 " >
                                          <ion-select-option value="lts">Litros</ion-select-option>
                                          <ion-select-option value="cc">C.C.</ion-select-option>
                                          <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                        
                                      </ion-select>
                                    </ion-item>
                                        
                                  </ion-col>
                                
                              </ion-row>
    
                            </ion-grid>
                      
                          </ion-label>
                      
                        </ion-item>





                        <ion-item>
                
                            <ion-label>
                        
                              <ion-grid>
                                <ion-row>
                                  <ion-col size="5">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                      <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico8" name="nombreProductoQuimico8" ></ion-input>
                                      </ion-item>
                                  </ion-col>
                                  <ion-col size="3">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                      <ion-input [(ngModel)]="labores.cantidadProductoQuimico8" name="cantidadProductoQuimico8" ></ion-input>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                        <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico8" name="medidaProductoQuimico8" >
                                            <ion-select-option value="lts">Litros</ion-select-option>
                                            <ion-select-option value="cc">C.C.</ion-select-option>
                                            <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                          
                                        </ion-select>
                                      </ion-item>
                                          
                                    </ion-col>
                                  
                                </ion-row>
      
                              </ion-grid>
                        
                            </ion-label>
                        
                          </ion-item>





                          <ion-item>
                
                              <ion-label>
                          
                                <ion-grid>
                                  <ion-row>
                                    <ion-col size="5">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                        <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico9" name="nombreProductoQuimico9" ></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                        <ion-input [(ngModel)]="labores.cantidadProductoQuimico9" name="cantidadProductoQuimico9" ></ion-input>
                                        </ion-item>
                                      </ion-col>
                                      <ion-col size="4">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                          <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico9" name="medidaProductoQuimico9" >
                                              <ion-select-option value="lts">Litros</ion-select-option>
                                              <ion-select-option value="cc">C.C.</ion-select-option>
                                              <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                            
                                          </ion-select>
                                        </ion-item>
                                            
                                      </ion-col>
                                    
                                  </ion-row>
        
                                </ion-grid>
                          
                              </ion-label>
                          
                            </ion-item>



            
            </ion-list>


      </form>

      <div align="center">
        <ion-button  type="submit" shape="round" fill="outline"
        [disabled]="formularioAplicacionQuimica.invalid"
        (click)="ruta_aplicacionQuimicaInterna()">
        <ion-icon style="font-size: 30px;" name="person-add"></ion-icon>
        <ion-label> Confirmar</ion-label>
        </ion-button>
    </div>
      

 
  
      </ion-card>
  
  
  
  
  
  
  
  <!--CONTRATISTA-->
      <ion-card *ngSwitchCase="'contratista'">

  
        <ion-list-header >
                  
          <ion-label style="font-weight:bold; ">APLIC. QUIMICA CONTRATISTA</ion-label>
  
        </ion-list-header>

      <form #formularioAplicacionQuimicaContratista ="ngForm" >
      
          <ion-item>
              <ion-label position="floating" >Nombre Aplicación Química:</ion-label>
              <ion-input (change)="guardar_nombre(labores.nombre)" [(ngModel)]="labores.nombre" name="nombre" required></ion-input>
            </ion-item>


      
            <ion-item>
                <ion-label position="floating" >Descripción:</ion-label>
                <ion-textarea (change)="guardar_descripcion(labores.descripcion)" [(ngModel)]="labores.descripcion" name="descripcion" required></ion-textarea>
            </ion-item>

     
              <!--
                <ion-item>
                    <ion-label position="floating">Nombre Contratista:</ion-label>
                    <ion-select [(ngModel)]="labores.nombreContratista" name="nombreContratista" required>
                        <ion-select-option value="Juan perez">Juan Pérez</ion-select-option>
                        <ion-select-option value="michell jauregui">Michell Jáuregui</ion-select-option>
                        <ion-select-option value="eduardo rojas">Eduardo Rojas</ion-select-option>

                    </ion-select>
                  </ion-item>
                -->

                <ion-item>

                    <ion-label position="floating">Nombre Contratista:</ion-label>
               
                    <ion-select  [(ngModel)]="labores.nombreContratista" name="nombreContratista" required value="notifications" interface="action-sheet" cancel-text="SELECCIONAR CONTRATISTA" >
                      
                    <ion-select-option *ngFor="let contratista of listaContratista">{{contratista.contratista_razon_social}}</ion-select-option>
                    </ion-select>
               
              </ion-item>



    


                      <ion-grid>
                          <ion-row>
                            <ion-col size="6">
                                <ion-item>
                                <ion-label position="floating" >Valor Trato $</ion-label>
                                <ion-input [(ngModel)]="labores.tipoTratoValor" name="tipoTratoValor" required></ion-input>
                              </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item>


<!--
                                  <ion-label position="floating" >X Unidad</ion-label>
                                <ion-select [(ngModel)]="labores.tipoTratoUnidadMedida" name="tipoTratoUnidadMedida" required>
                                    <ion-select-option value="kilo">Kilo</ion-select-option>
                                    <ion-select-option value="metro">Metro</ion-select-option>
                                    <ion-select-option value="hectarea">Hectáreas</ion-select-option>
                                </ion-select>
-->


                               

                                    <ion-label position="floating">Medida:</ion-label>
                               
                                    <ion-select  [(ngModel)]="labores.tipoTratoUnidadMedida" name="tipoTratoUnidadMedida" required value="notifications" interface="action-sheet" cancel-text="Seleccionar Unidad de Medida" >
                                      
                                    <ion-select-option *ngFor="let medida of listaMedida">{{medida.medida_nombre}}</ion-select-option>
                                    </ion-select>
                               
                              


                              </ion-item>
                              </ion-col>
                          </ion-row>
                      </ion-grid>


            <ion-grid>
                <ion-row>
                  <ion-col>
                          <ion-item>
                              <ion-label position="floating" >Cuartel:</ion-label>
                              <ion-input [(ngModel)]="labores.nombreCuartel" name="nombreCuartel" required></ion-input>
                      </ion-item>
                  </ion-col>
                  <ion-col>
                          <ion-item>
                              <ion-label position="floating" >Máquina y Tractor:</ion-label>
                              <ion-input [(ngModel)]="labores.nombreMaquina" name="nombreMaquina" required></ion-input>
                          </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>




            <ion-list>
                <ion-list-header >
            
                    <ion-label>Detalle Aplicación de Producto</ion-label>
            
                  </ion-list-header>

                  <ion-item>
                      <ion-label style="font-size:10px;" position="floating">CANTIDAD DE AGUA</ion-label>
                      <ion-input style="font-size:10px;" [(ngModel)]="labores.cantidadAgua" name="cantidadAgua" required></ion-input>
                  </ion-item>
            <ion-item>
                <ion-label>
            
                  <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                          <ion-item>
                          <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                          <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico1" name="nombreProductoQuimico1" required></ion-input>
                          </ion-item>
                      </ion-col>
                      <ion-col size="3">
                          <ion-item>
                          <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                          <ion-input [(ngModel)]="labores.cantidadProductoQuimico1" name="cantidadProductoQuimico1" required></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item>
                            <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                            <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico1" name="medidaProductoQuimico1" required>
                                <ion-select-option value="lts">Litros</ion-select-option>
                                <ion-select-option value="cc">C.C.</ion-select-option>
                                <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                              
                            </ion-select>
                          </ion-item>
                              
                        </ion-col>
                      
                    </ion-row>

                  </ion-grid>
            
                </ion-label>
            
              </ion-item>
            
            
              <ion-item>
                
                
            
                  <ion-label>
              
                    <ion-grid>
                      <ion-row>
                        <ion-col size="5">
                            <ion-item>
                            <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                            <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico2" name="nombreProductoQuimico2" ></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                            <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                            <ion-input [(ngModel)]="labores.cantidadProductoQuimico2" name="cantidadProductoQuimico2" ></ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col size="4">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                              <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico2" name="medidaProductoQuimico2" >
                                  <ion-select-option value="lts">Litros</ion-select-option>
                                  <ion-select-option value="cc">C.C.</ion-select-option>
                                  <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                
                              </ion-select>
                            </ion-item>
                                
                          </ion-col>
                        
                      </ion-row>

                    </ion-grid>
              
                  </ion-label>
              
                </ion-item>
            
            
            
            
            
            
                <ion-item>
                
                
            
                    <ion-label>
                
                      <ion-grid>
                        <ion-row>
                          <ion-col size="5">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                              <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico3" name="nombreProductoQuimico3" ></ion-input>
                              </ion-item>
                          </ion-col>
                          <ion-col size="3">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                              <ion-input [(ngModel)]="labores.cantidadProductoQuimico3" name="cantidadProductoQuimico3" ></ion-input>
                              </ion-item>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico3" name="medidaProductoQuimico3" >
                                    <ion-select-option value="lts">Litros</ion-select-option>
                                    <ion-select-option value="cc">C.C.</ion-select-option>
                                    <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                  
                                </ion-select>
                              </ion-item>
                                  
                            </ion-col>
                          
                        </ion-row>


                      </ion-grid>
                
                    </ion-label>
                
                  </ion-item>
            
            
            
            
            
            
                <ion-item>
                
                
            
                    <ion-label>
                
                      <ion-grid>
                        <ion-row>
                          <ion-col size="5">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                              <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico4" name="nombreProductoQuimico4" ></ion-input>
                              </ion-item>
                          </ion-col>
                          <ion-col size="3">
                              <ion-item>
                              <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                              <ion-input [(ngModel)]="labores.cantidadProductoQuimico4" name="cantidadProductoQuimico4" ></ion-input>
                              </ion-item>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico4" name="medidaProductoQuimico4">
                                    <ion-select-option value="lts">Litros</ion-select-option>
                                    <ion-select-option value="cc">C.C.</ion-select-option>
                                    <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                  
                                </ion-select>
                              </ion-item>
                                  
                            </ion-col>
                          
                        </ion-row>
      
                      </ion-grid>
                
                    </ion-label>
                
                  </ion-item>
            
            
            
            
                  <ion-item>

                      <ion-label>
                  
                        <ion-grid>
                          <ion-row>
                            <ion-col size="5">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico5" name="nombreProductoQuimico5" ></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="3">
                                <ion-item>
                                <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                <ion-input [(ngModel)]="labores.cantidadProductoQuimico5" name="cantidadProductoQuimico5" ></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col size="4">
                                  <ion-item>
                                  <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                  <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico5" name="medidaProductoQuimico5" >
                                      <ion-select-option value="lts">Litros</ion-select-option>
                                      <ion-select-option value="cc">C.C.</ion-select-option>
                                      <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                    
                                  </ion-select>
                                </ion-item>
                                    
                              </ion-col>
                            
                          </ion-row>

                        </ion-grid>
                  
                      </ion-label>
                  
                    </ion-item>




                    <ion-item>

                        <ion-label>
                    
                          <ion-grid>
                            <ion-row>
                              <ion-col size="5">
                                  <ion-item>
                                  <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                  <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico6" name="nombreProductoQuimico6" ></ion-input>
                                  </ion-item>
                              </ion-col>
                              <ion-col size="3">
                                  <ion-item>
                                  <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                  <ion-input [(ngModel)]="labores.cantidadProductoQuimico6" name="cantidadProductoQuimico6" ></ion-input>
                                  </ion-item>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                    <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico6" name="medidaProductoQuimico6" >
                                        <ion-select-option value="lts">Litros</ion-select-option>
                                        <ion-select-option value="cc">C.C.</ion-select-option>
                                        <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                      
                                    </ion-select>
                                  </ion-item>
                                      
                                </ion-col>
                              
                            </ion-row>
  
                          </ion-grid>
                    
                        </ion-label>
                    
                      </ion-item>





                      <ion-item>

                          <ion-label>
                      
                            <ion-grid>
                              <ion-row>
                                <ion-col size="5">
                                    <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                    <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico7" name="nombreProductoQuimico7" ></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-item>
                                    <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                    <ion-input [(ngModel)]="labores.cantidadProductoQuimico7" name="cantidadProductoQuimico7" ></ion-input>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col size="4">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                      <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico7" name="medidaProductoQuimico7" >
                                          <ion-select-option value="lts">Litros</ion-select-option>
                                          <ion-select-option value="cc">C.C.</ion-select-option>
                                          <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                        
                                      </ion-select>
                                    </ion-item>
                                        
                                  </ion-col>
                                
                              </ion-row>
    
                            </ion-grid>
                      
                          </ion-label>
                      
                        </ion-item>



                        <ion-item>

                            <ion-label>
                        
                              <ion-grid>
                                <ion-row>
                                  <ion-col size="5">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                      <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico8" name="nombreProductoQuimico8" ></ion-input>
                                      </ion-item>
                                  </ion-col>
                                  <ion-col size="3">
                                      <ion-item>
                                      <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                      <ion-input [(ngModel)]="labores.cantidadProductoQuimico8" name="cantidadProductoQuimico8" ></ion-input>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                        <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico8" name="medidaProductoQuimico8" >
                                            <ion-select-option value="lts">Litros</ion-select-option>
                                            <ion-select-option value="cc">C.C.</ion-select-option>
                                            <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                          
                                        </ion-select>
                                      </ion-item>
                                          
                                    </ion-col>
                                  
                                </ion-row>
      
                              </ion-grid>
                        
                            </ion-label>
                        
                          </ion-item>





                          <ion-item>

                              <ion-label>
                          
                                <ion-grid>
                                  <ion-row>
                                    <ion-col size="5">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">NOMBRE</ion-label>
                                        <ion-input style="font-size:10px;" [(ngModel)]="labores.nombreProductoQuimico9" name="nombreProductoQuimico9" ></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-item>
                                        <ion-label style="font-size:10px;" position="floating">CANT.</ion-label>
                                        <ion-input [(ngModel)]="labores.cantidadProductoQuimico9" name="cantidadProductoQuimico9" ></ion-input>
                                        </ion-item>
                                      </ion-col>
                                      <ion-col size="4">
                                          <ion-item>
                                          <ion-label style="font-size:10px;" position="floating">UNIDAD</ion-label>
                                          <ion-select style="font-size:10px;"  [(ngModel)]="labores.medidaProductoQuimico9" name="medidaProductoQuimico9" >
                                              <ion-select-option value="lts">Litros</ion-select-option>
                                              <ion-select-option value="cc">C.C.</ion-select-option>
                                              <ion-select-option value="ml">ML</ion-select-option><ion-select-option value="kg">Kg.</ion-select-option><ion-select-option value="gr">Gr.</ion-select-option>

                                            
                                          </ion-select>
                                        </ion-item>
                                            
                                      </ion-col>
                                    
                                  </ion-row>
        
                                </ion-grid>
                          
                              </ion-label>
                          
                            </ion-item>



                      
            </ion-list>





      
      </form>
      




  <div align="center">
    <ion-button  type="submit" shape="round" fill="outline"
    [disabled]="formularioAplicacionQuimicaContratista.invalid"
    (click)="ruta_aplicacionQuimicaContratista()">
    <ion-icon style="font-size: 30px;" name="asignadoContratista-negro"></ion-icon>
    <ion-label> Confirmar</ion-label>
    </ion-button>
</div>





  
  
        </ion-card>
  
    </div> <!--fin segmento-->

<!--FIN NUEVO MENU-->
  
        
  
  </ion-content>
  



