.tabla{
    margin:5px;
    table-layout: fixed;
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;
}

.celdas{
    border: 1px solid gray;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
    background-color: #d8d8d8;
}