<ion-header>




  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-title style="font-size:18px;" align="center">Crear Aplicación Química
      </ion-title>

      <ion-buttons slot="end">
          <!--<ion-icon class="icono_mediano" name="agro"></ion-icon>-->
          <ion-icon style="font-size:30px;padding-right: 20px;" name="logo-react"></ion-icon>
      </ion-buttons>


  </ion-toolbar>










</ion-header>





<ion-content>



  <div [ngSwitch]="segmento">


      <!--Autoasignado-->
      <div *ngSwitchCase="'autoasignado'">

          <ion-app>

              <ion-card-header>
                  Auto Asignado
              </ion-card-header>


              <ion-card-content>

                  <form #formularioLaborQuimicaAutoasignado="ngForm">

                      <ion-item>
                          <ion-label position="floating">Nombre de la aplicación:</ion-label>
                          <ion-input (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
                      </ion-item>

                      <ion-item>
                          <ion-label position="floating">Objetivo de la aplicación:</ion-label>
                          <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
                      </ion-item>


                      <ion-item>
                          <ion-label position="floating">Cuartel o Localidad:</ion-label>
                          <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
                      </ion-item>


                      <ion-item>
                          <ion-label position="floating">Descripción:</ion-label>
                          <ion-textarea (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-textarea>
                      </ion-item>


                  </form>





              </ion-card-content>




             
              <ion-tab-bar slot="bottom" color="light" > 
                <ion-tab-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioLaborQuimicaAutoasignado.invalid" (click)="ruta_laborQuimica('autoasignada')">
            
                    <ion-icon name="logo-react" color="success"></ion-icon>
                    <ion-label>Confirmar</ion-label>
                </ion-tab-button>
                </ion-tab-bar>

          </ion-app>
      </div>

 
      <!--CONTRATISTA-->
      <div>


        <ion-list *ngIf="listaRadioQuimica">
            <ion-radio-group > 

            <ion-item *ngIf="permiso == 1 || permiso == 3">
                <ion-label>Autoasignado</ion-label>
                <ion-icon style="font-size: 40px;" name="person-outline"></ion-icon>
                <ion-radio slot="start" value="autoasignado" (click)="radioQuimica('autoasignado')"></ion-radio>
              </ion-item>
          
              <ion-item *ngIf="permiso == 1 || permiso == 2 || permiso == 3 ">
                <ion-label>Interna</ion-label>
                <ion-icon style="font-size: 40px;" name="people-outline"></ion-icon>
                <ion-radio slot="start" value="interna" (click)="radioQuimica('interna')"></ion-radio>
              </ion-item>
          
              <ion-item *ngIf="permiso == 1 || permiso == 3 ">
                <ion-label>Contratista</ion-label>
                <ion-icon style="font-size: 40px;"name="construct-outline"></ion-icon>
                <ion-radio slot="start" value="contratista" (click)="radioQuimica('contratista')"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-list>
          


                <ion-toolbar style="" color="tertiary" (click)="restaurar1()" >
                    <ion-title>Ingreso: {{labores.laborNombre}}</ion-title><!--{{avance_1_estado}}-->
                    <ion-buttons slot="start">
                      <ion-button>
                        Paso Nº1
                      </ion-button>
                    </ion-buttons >
                    <ion-buttons slot="end" *ngIf="check_1_quimica===true">
                         <ion-menu-button auto-hide="false" ><ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
                    </ion-buttons>                                                
                </ion-toolbar>
            
            
                <ion-toolbar *ngIf="datosquimica1" slot="bottom" color="light">
<!-- -->

<form #formularioLaborQuimicaContratista="ngForm">

    <ion-item>
        <ion-label position="floating">Nombre de la aplicación:</ion-label> <!--{{itemContratistaSel}}-->
        <ion-input (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Objetivo de la aplicación:</ion-label>
        <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Descripción:</ion-label>
        <ion-textarea (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-textarea>
        <tr></tr>
        <br><br>
        <tr></tr>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Cuartel o Localidad:</ion-label>
        <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
        <br>
    </ion-item>
  

    <ion-item *ngIf="itemContratista">
        <ion-label position="floating">Trato Inicial:</ion-label>
        <ion-input [(ngModel)]="labores.laborValorTratoInicial" name="laborValorTratoInicial" required></ion-input>
    </ion-item>

    <ion-list *ngIf="itemContratista">
        <ion-item>
            <ion-label position="floating">Contratista</ion-label>
        
                <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="contratista.idContratista" name="idContratista" required>
                    <ion-select-option *ngFor="let con of contratista" value="{{con.idContratista}}" >
                        {{con.contratistaNombre}}
                    </ion-select-option>
                </ion-select>
            
<tr></tr>
<br><br><br>
<tr></tr>

            <ion-button color="danger" slot="end" (click)="ir_a_crearContratista()" >
                <ion-icon slot="icon-only" name="person-add"></ion-icon>
              </ion-button>
        </ion-item>
    </ion-list>


</form>




<ion-footer>

    <ion-tab-button type="submit" shape="round" color="danger" expand="block" [disabled]="formularioLaborQuimicaContratista.invalid" (click)="ruta_laborQuimica(itemContratistaSel)">


        <ion-icon name="logo-react" color="danger"></ion-icon>
        <ion-label>Continuar</ion-label>
    </ion-tab-button>
   
</ion-footer>


<!-- -->

                </ion-toolbar> <!--fin paso1-->




                <div *ngIf="caja_contratista">
                <ion-row>
                    <form #formularioContratista="ngForm">







                        <ion-item>
                            <ion-label position="stacked">Rut Contratista:</ion-label>

                            <ion-col style="padding-top:0px;padding-bottom:15px;">
                                <input id="usuario2" style="margin-left: 10px;text-align: center;font-size: 25px;height: 30px;margin-top: 10px;border-width: 0.1px;border-color: #eeeeee;" ng-model="usuario2" name="usuario2" type="text" autofocus="" value="" onchange="checkRutField(usuario2.value,'usuario2','rut2')"
                                    size="15" maxlength="15" required>
                                <ion-input id="rut2" value="" [(ngModel)]="datosUsuario2.rut2" name="rut2" hidden></ion-input>

                            </ion-col>
                       
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Nombre Contratista:</ion-label>
                            <ion-input id="contratistaNombre" value="" [(ngModel)]="datosContratista.contratistaNombre" name="contratistaNombre" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Fono Contratista:</ion-label>
                            <ion-input id="contratistaFono" value="" [(ngModel)]="datosContratista.contratistaFono" name="contratistaFono" required></ion-input>
                        </ion-item>

                    </form>
                </ion-row>
            <ion-row>
                   
                <ion-col style="text-align: center" >
                <ion-button color="success" [hidden]="!formularioContratista.valid" (click)="crearContratista(datosContratista, datosUsuario2.rut2)">Guardar</ion-button>
                </ion-col>
                </ion-row>

                <ion-row>
                   
                    <ion-col style="text-align: center" >
                    <ion-button color=""  (click)="ir_a_crearContratista_volver()">Volver</ion-button>
                    </ion-col>
                    </ion-row>

                </div>
<!-- 
                    <div align="center">
                    <ion-button *ngIf="show && radio" (click)="avanzar_a_2()" color="tertiary">
                        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                    </ion-button>
                </div>
-->
                












<ion-toolbar *ngIf="datosquimica2_titulo" style="" color="tertiary" (click)="restaurar2()">
    <ion-title>Mojamiento:</ion-title>
    <ion-title> {{laboraplicacionq.laborAplicacionQMojamiento}} Lts. x Hect.</ion-title>
    <!--{{avance_2_estado}}-->
    <ion-buttons slot="start">
      <ion-button>
        Paso Nº2
      </ion-button>
    </ion-buttons >
    <ion-buttons slot="end" *ngIf="check_2_quimica===true">
         <ion-menu-button auto-hide="false" ><ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
    </ion-buttons>                                                
</ion-toolbar>


<ion-toolbar *ngIf="datosquimica2" slot="bottom" color="light">
<!-- -->

<form #formularioLaborQuimicaContratista2="ngForm">
<ion-item>
<ion-label position="floating">Máquina y Tractor:</ion-label>
<ion-input [(ngModel)]="laboraplicacionq.laborAplicacionQMaquina" name="laborAplicacionQMaquina" required></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Litros de Agua por Hectárea:</ion-label>
<ion-input type="number" [(ngModel)]="laboraplicacionq.laborAplicacionQMojamiento" name="laborAplicacionQMojamiento" required></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Superficie:</ion-label>
    <ion-input type="number" [(ngModel)]="laboraplicacionq.laborAplicacionQSuperficie" name="laborAplicacionQSuperficie" required></ion-input>
    </ion-item>
    
</form>


    <ion-tab-button type="submit" shape="round" color="danger" expand="block" [disabled]="formularioLaborQuimicaContratista2.invalid" (click)="ruta_laborQuimica_2('contratista')">

        <ion-icon name="logo-react" color="danger"></ion-icon>
        <ion-label>Continuar</ion-label>
    </ion-tab-button>

<!-- -->

</ion-toolbar> <!--fin paso2-->















<ion-toolbar *ngIf="datosquimica3_titulo" style="" color="tertiary" (click)="restaurar3()" >
    <ion-title>Dosis de productos: {{posicion}}  </ion-title> <!--{{avance_3_estado}}-->
    <ion-buttons slot="start">
      <ion-button>
        Paso Nº3
      </ion-button>
    </ion-buttons >
    <ion-buttons slot="end" *ngIf="check_3_quimica===true">
         <ion-menu-button auto-hide="false" ><ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
    </ion-buttons>                                                
</ion-toolbar>


<ion-toolbar *ngIf="datosquimica3">
<!-- -->

<form #formularioLaborQuimicaContratista3="ngForm">

<!--    <div id="listaQuimica">

</div>
-->


<form #formListado_1="ngForm">
<ion-grid *ngIf="listado_1===true" > 
    <ion-row>
                    <ion-col size="12" align-self-baseline>
                        <ion-item>
                            <ion-label position="floating">Nombre Producto</ion-label>
                            <ion-input type="text" id="nombre_1" [(ngModel)]="nombre_1" name="nombre_1" required></ion-input>
                        </ion-item>                                            
                    </ion-col>
    
                    <ion-col  size="6" align-self-baseline>                                      
                        <ion-item>
                            <ion-label position="floating">Cantidad Producto</ion-label>
                            <ion-input type="number" id="cantidad_1" [(ngModel)]="cantidad_1" name="cantidad_1" required></ion-input>
                        </ion-item>  
                    </ion-col>
                    <ion-col size="6" align-self-baseline>
                       
                        
                        <ion-label position="">Medida</ion-label>
                        <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_1" name="medida_1" required>
                            <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                {{con.unidadMedidaNombre}}
                            </ion-select-option>
                        </ion-select>
                    

                    </ion-col>
                    <ion-col size="12" align-self-baseline style="text-align: right;">                     
                            <ion-button [disabled]="formListado_1.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_1, cantidad_1, medida_1, '1')">Agregar</ion-button>                      
                    </ion-col>                  
    </ion-row>
    
</ion-grid>
</form>


<ion-button color="success" *ngIf="posicion==='0'" (click)="listado_producto('1')">
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
</ion-button>


<form #formListado_2="ngForm">
    <ion-grid *ngIf="listado_2===true" > 
        <ion-row>
            <ion-col size="12" align-self-baseline>
                <ion-item>
                    <ion-label position="floating">Nombre Producto</ion-label>
                    <ion-input type="text" id="nombre_2" [(ngModel)]="nombre_2" name="nombre_2" required></ion-input>
                </ion-item>                                            
            </ion-col>

            <ion-col  size="6" align-self-baseline>                                      
                <ion-item>
                    <ion-label position="floating">Cantidad Producto</ion-label>
                    <ion-input type="number" id="cantidad_2" [(ngModel)]="cantidad_2" name="cantidad_2" required></ion-input>
                </ion-item>  
            </ion-col>
            <ion-col size="6" align-self-baseline>
                <ion-label position="">Medida</ion-label>
                <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_2" name="medida_2" required>
                    <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                        {{con.unidadMedidaNombre}}
                    </ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col size="12" align="right">
                <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                <ion-button [disabled]="formListado_2.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_2, cantidad_2, medida_2, '2')">Agregar</ion-button>
            </ion-col>         
</ion-row>
        </ion-grid>
    </form>

        <ion-col size="12" align="left">
            <ion-button color="success" *ngIf="posicion==='1'" (click)="listado_producto('2')">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-col>







        <form #formListado_3="ngForm">
        <ion-grid *ngIf="listado_3===true" > 
            <ion-row>
                <ion-col size="12" align-self-baseline>
                    <ion-item>
                        <ion-label position="floating">Nombre Producto</ion-label>
                        <ion-input type="text" id="nombre_3" [(ngModel)]="nombre_3" name="nombre_3" required></ion-input>
                    </ion-item>                                            
                </ion-col>

                <ion-col  size="6" align-self-baseline>                                      
                    <ion-item>
                        <ion-label position="floating">Cantidad Producto</ion-label>
                        <ion-input type="number" id="cantidad_3" [(ngModel)]="cantidad_3" name="cantidad_3" required></ion-input>
                    </ion-item>  
                </ion-col>
                <ion-col size="6" align-self-baseline>
                    <ion-label position="">Medida</ion-label>
                    <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_3" name="medida_3" required>
                        <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                            {{con.unidadMedidaNombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col size="12" align="right">
                    <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                    <ion-button [disabled]="formListado_3.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_3, cantidad_3, medida_3, '3')">Agregar</ion-button>
                </ion-col>         
</ion-row>
            </ion-grid>
        </form>

            <ion-col size="12" align="left">
                <ion-button color="success" *ngIf="posicion==='2'" (click)="listado_producto('3')">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
            </ion-col>




            <form #formListado_4="ngForm">
            <ion-grid *ngIf="listado_4===true" > 
                <ion-row>
                    <ion-col size="12" align-self-baseline>
                        <ion-item>
                            <ion-label position="floating">Nombre Producto</ion-label>
                            <ion-input type="text" id="nombre_4" [(ngModel)]="nombre_4" name="nombre_4" required></ion-input>
                        </ion-item>                                            
                    </ion-col>
    
                    <ion-col  size="6" align-self-baseline>                                      
                        <ion-item>
                            <ion-label position="floating">Cantidad Producto</ion-label>
                            <ion-input type="number" id="cantidad_4" [(ngModel)]="cantidad_4" name="cantidad_4" required></ion-input>
                        </ion-item>  
                    </ion-col>
                    <ion-col size="6" align-self-baseline>
                        <ion-label position="">Medida</ion-label>
                        <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_4" name="medida_4" required>
                            <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                {{con.unidadMedidaNombre}}
                            </ion-select-option>
                        </ion-select>
                    </ion-col>
                    <ion-col size="12" align="right">
                        <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                        <ion-button [disabled]="formListado_4.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_4, cantidad_4, medida_4, '4')">Agregar</ion-button>
                    </ion-col>         
    </ion-row>
                </ion-grid>
            </form>

                <ion-col size="12" align="left">
                    <ion-button color="danger" *ngIf="posicion==='3'" (click)="listado_producto('4')">
                        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                    </ion-button>
                </ion-col>



                <form #formListado_5="ngForm">
                <ion-grid *ngIf="listado_5===true" > 
                    <ion-row>
                        <ion-col size="12" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input type="text" id="nombre_5" [(ngModel)]="nombre_5" name="nombre_5" required></ion-input>
                            </ion-item>                                            
                        </ion-col>
        
                        <ion-col  size="6" align-self-baseline>                                      
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input type="number" id="cantidad_5" [(ngModel)]="cantidad_5" name="cantidad_5" required></ion-input>
                            </ion-item>  
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-label position="">Medida</ion-label>
                            <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_5" name="medida_5" required>
                                <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                    {{con.unidadMedidaNombre}}
                                </ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col size="12" align="right">
                            <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                            <ion-button [disabled]="formListado_5.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_5, cantidad_5, medida_5, '5')">Agregar</ion-button>
                        </ion-col>         
        </ion-row>
                    </ion-grid>
</form>

                    <ion-col size="12" align="left">
                        <ion-button color="success" *ngIf="posicion==='4'" (click)="listado_producto('5')">
                            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-col>



                    <form #formListado_6="ngForm">
                    <ion-grid *ngIf="listado_6===true" > 
                        <ion-row>
                            <ion-col size="12" align-self-baseline>
                                <ion-item>
                                    <ion-label position="floating">Nombre Producto</ion-label>
                                    <ion-input type="text" id="nombre_6" [(ngModel)]="nombre_6" name="nombre_6" required ></ion-input>
                                </ion-item>                                            
                            </ion-col>
            
                            <ion-col  size="6" align-self-baseline>                                      
                                <ion-item>
                                    <ion-label position="floating">Cantidad Producto</ion-label>
                                    <ion-input type="number" id="cantidad_6" [(ngModel)]="cantidad_6" name="cantidad_6" required></ion-input>
                                </ion-item>  
                            </ion-col>
                            <ion-col size="6" align-self-baseline>
                                <ion-label position="">Medida</ion-label>
                                <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_6" name="medida_6" required>
                                    <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                        {{con.unidadMedidaNombre}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col size="12" align="right">
                                <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                                <ion-button [disabled]="formListado_6.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_6, cantidad_6, medida_6, '6')">Agregar</ion-button>
                            </ion-col>         
            </ion-row>
                        </ion-grid>
</form>


                        <ion-col size="12" align="left">
                            <ion-button color="success" *ngIf="posicion==='5'" (click)="listado_producto('6')">
                                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-col>



                        <form #formListado_7="ngForm">
                        <ion-grid *ngIf="listado_7===true" > 
                            <ion-row>
                                <ion-col size="12" align-self-baseline>
                                    <ion-item>
                                        <ion-label position="floating">Nombre Producto</ion-label>
                                        <ion-input type="text" id="nombre_7" [(ngModel)]="nombre_7" name="nombre_7" required></ion-input>
                                    </ion-item>                                            
                                </ion-col>
                
                                <ion-col  size="6" align-self-baseline>                                      
                                    <ion-item>
                                        <ion-label position="floating">Cantidad Producto</ion-label>
                                        <ion-input type="number" id="cantidad_7" [(ngModel)]="cantidad_7" name="cantidad_7" required></ion-input>
                                    </ion-item>  
                                </ion-col>
                                <ion-col size="6" align-self-baseline>
                                    <ion-label position="">Medida</ion-label>
                                    <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_7" name="medida_7" required>
                                        <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                            {{con.unidadMedidaNombre}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-col>
                                <ion-col size="12" align="right">
                                    <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                                    <ion-button [disabled]="formListado_7.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_7, cantidad_7, medida_7, '7')">Agregar</ion-button>
                                </ion-col>         
                </ion-row>
                            </ion-grid>
                        </form>


                            <ion-col size="12" align="left">
                                <ion-button color="success" *ngIf="posicion==='6'" (click)="listado_producto('7')">
                                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                                </ion-button>
                            </ion-col>




                            <form #formListado_8="ngForm">
                            <ion-grid *ngIf="listado_8===true" > 
                                <ion-row>
                                    <ion-col size="12" align-self-baseline>
                                        <ion-item>
                                            <ion-label position="floating">Nombre Producto</ion-label>
                                            <ion-input type="text" id="nombre_8" [(ngModel)]="nombre_8" name="nombre_8" required></ion-input>
                                        </ion-item>                                            
                                    </ion-col>
                    
                                    <ion-col  size="6" align-self-baseline>                                      
                                        <ion-item>
                                            <ion-label position="floating">Cantidad Producto</ion-label>
                                            <ion-input type="number" id="cantidad_8" [(ngModel)]="cantidad_8" name="cantidad_8" required></ion-input>
                                        </ion-item>  
                                    </ion-col>
                                    <ion-col size="6" align-self-baseline>
                                        <ion-label position="">Medida</ion-label>
                                        <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_8" name="medida_8" required>
                                            <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                                {{con.unidadMedidaNombre}}
                                            </ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                    <ion-col size="12" align="right">
                                        <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                                        <ion-button [disabled]="formListado_8.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_8, cantidad_8, medida_8, '8')">Agregar</ion-button>
                                    </ion-col>         
                    </ion-row>
                                </ion-grid>
</form>


                                <ion-col size="12" align="left">
                                    <ion-button color="success" *ngIf="posicion==='7'" (click)="listado_producto('8')">
                                        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                                    </ion-button>
                                </ion-col>



                                <form #formListado_9="ngForm">
                                <ion-grid *ngIf="listado_9===true" > 
                                    <ion-row>
                                        <ion-col size="12" align-self-baseline>
                                            <ion-item>
                                                <ion-label position="floating">Nombre Producto</ion-label>
                                                <ion-input type="text" id="nombre_9" [(ngModel)]="nombre_9" name="nombre_9" required></ion-input>
                                            </ion-item>                                            
                                        </ion-col>
                        
                                        <ion-col  size="6" align-self-baseline>                                      
                                            <ion-item>
                                                <ion-label position="floating">Cantidad Producto</ion-label>
                                                <ion-input type="number" id="cantidad_9" [(ngModel)]="cantidad_9" name="cantidad_9" required></ion-input>
                                            </ion-item>  
                                        </ion-col>
                                        <ion-col size="6" align-self-baseline>
                                            <ion-label position="">Medida</ion-label>
                                            <ion-select ok-text="OK" cancel-text="Cancelar"  [(ngModel)]="medida_9" name="medida_9" required>
                                                <ion-select-option *ngFor="let con of listadoUnidadMedida" value="{{con.idUnidadMedida}}" >
                                                    {{con.unidadMedidaNombre}}
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-col>
                                        <ion-col size="12" align="right">
                                            <!--<ion-button  (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">Agregar</ion-button>-->
                                            <ion-button [disabled]="formListado_9.invalid" color="success" (click)="ruta_laborQuimica_4(nombre_9, cantidad_9, medida_9, '9')">Agregar</ion-button>
                                        </ion-col>         
                        </ion-row>
                                    </ion-grid>
</form>


                                    <ion-col size="12" align="left">
                                        <ion-button color="success" *ngIf="posicion==='8'" (click)="listado_producto('9')">
                                            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                                        </ion-button>
                                    </ion-col>



 

<!--
    <ion-button (click)="agregarElementoLista()" color="danger" size="small" shape="round">
    </ion-button>
-->





</form>

<ion-tab-bar slot="bottom" color="light" > 
    <ion-tab-button *ngIf="formQuimica3" type="submit" shape="round" color="danger" expand="block" [disabled]="formularioLaborQuimicaContratista3.invalid" (click)="ruta_laborQuimica_3('contratista')">

        <ion-icon name="leaf-outline" color="danger"></ion-icon>
        <ion-label>Confirmar</ion-label>
    </ion-tab-button>
    </ion-tab-bar>

<!-- -->

</ion-toolbar> <!--fin paso3-->

       

         
      </div><!--fin Química Contratista-->






      <!--prueba-->














  </div>
  <!--fin segmento-->
</ion-content>








<ion-tab-bar slot="bottom" color="light" *ngIf="posicionBoton==='1' || posicionBoton==='2' || posicionBoton==='3' || posicionBoton==='4' || posicionBoton==='5' || posicionBoton==='6' || posicionBoton==='7' || posicionBoton==='8' || posicionBoton==='9' " > 
    <ion-tab-button (click)="ir_paso_4(idFecha,tipoLaborNombre)">

        <ion-icon name="logo-react" color="danger"></ion-icon>
        <ion-label >Crear aplicación</ion-label>
    </ion-tab-button>
    </ion-tab-bar>