<ion-header no-border>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

    <ion-item *ngFor="let c of componentes" 
    [routerLink]="c.redirectTo" detail>
    <ion-icon slot="start" [name]="c.icon" ></ion-icon>
      <ion-label> {{c.name}}</ion-label>
    </ion-item>

</ion-list>




  <!--

    
<ion-item routerLink="/alert" detail>
  <ion-label>
    Alert
  </ion-label>
</ion-item>

<ion-item routerLink="/action-sheet" detail>
    <ion-label>
      Action sheet
    </ion-label>
  </ion-item>

  -->

<!--

  <ion-button routerLink="/alert">
alert
</ion-button>

<ion-button routerLink="/action-sheet">
Action-sheet
</ion-button>


-->



</ion-content>
