
<app-header titulo="alert page">

</app-header>

<!--

  <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
  
          <ion-back-button text="Regresar"  defaultHref="/inicio"></ion-back-button>
          </ion-buttons>
          
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

-->

<ion-content padding>

  <h1>Alert Page</h1>

</ion-content>
