<ion-header>


</ion-header>

<ion-content>

    <ion-fab vertical="top" horizontal="end" slot="fixed" >
        <ion-fab-button>
            <ion-icon name="timer-outline"></ion-icon>
        </ion-fab-button>


        <ion-fab-list side="bottom">
            <ion-fab-button (click)="enviar_playpause('botonIngresar');" [disabled]="disabledIngresar" [hidden]="botonIngresar" >
                <ion-icon name="alarm-outline" color="tertiary"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="enviar_playpause('botonPlay');" [disabled]="disabledPlay" [hidden]="botonPlay">
                <ion-icon name="play-outline" color="success"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="enviar_playpause('botonPausa');" [disabled]="disabledPausa" [hidden]="botonPausa">
                <ion-icon name="pause-outline" color="danger"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="enviar_playpause('botonSalida');" [disabled]="disabledSalida" [hidden]="botonSalida">
                <ion-icon name="stop-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="cerrar()">
                <ion-icon name="log-in-outline" color="danger"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

    </ion-fab>

    <br><br>
    <br>


    <div [ngSwitch]="segmento" class="scroll">
    



        <ion-card *ngSwitchCase="'inicial'">




            <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content pullingIcon="cloud-download" refreshingSpinner="bubbles">

                </ion-refresher-content>
            </ion-refresher>



            <!--<h1 *ngIf="arregloLocalVista.length===0 ">Push Aquí</h1>-->
            <!--
                TOTALES DE LISTADOS
                {{arregloLocalVista.length}}  {{arregloLocalVista2.length}}-->

            <h4 align="center " *ngIf="arregloLocalVista.length < arregloLocalVista2.length ">Hay Actualizaciones...</h4>

            <div align="center">
                <h3 style="margin-left: 20px " *ngIf="actualizar===1 ">
                    Actualizando...
                    <ion-spinner name="lines" color="success"></ion-spinner>
                    <ion-progress-bar color="success" type="indeterminate"></ion-progress-bar>
                </h3>
            </div>


            <ion-list *ngIf="arregloLocalVista.length> 0">


                <ion-item-sliding *ngFor="let registro1 of arregloLocalVista |  filtroIdusuario: idUsuario; let i = index">




                    <ion-item-options side="start" *ngIf="botonesEntrada">
                        <ion-item-option (click)="abrirRegistroGeneral(registro1)" [disabled]="disabledEntrada">
                            <ion-icon style="font-size:35px;" name="create"></ion-icon> Avance</ion-item-option>
                    </ion-item-options>

                    <!--acordeon-->
                    <ion-item detail (click)="acordeon_labores('acordeon2',i);">
                        <ion-icon slot="start" name="{{registro1.laborIcono}}" style="font-size:35px;"></ion-icon>
                        <ion-label>
                            <ion-icon slot="start" name="{{registro1.laborIconoAsignacion}}" style="font-size:25px;"></ion-icon>
                            <p style="font-size:18px;">{{registro1.laborNombre}}</p>
                            <!--{{registro1.idLabor}}-->
                            <!-- <p style="font-size:14px;">{{registro.tipoLabor_idTipoLabor}}</p>-->
                        </ion-label>
                        <!--2019-11-25 10:52:19-->
                        <ion-label class="parrafoGris1" lot="end">{{registro1.laborFecha | slice:11:16 }}</ion-label>
                    </ion-item>

                    <!-- desplegar pestaña con datos item-->
                    <div id="{{'acordeon2'}}{{i}}" style="display:none;">

                        <ion-list *ngIf="itemLaboresAbiertas">
                            <ion-item>Descripción Labor: {{registro1.laborDescripcion}}</ion-item>
                            <ion-item>Cuartel: {{registro1.laborCuartel}}</ion-item>
                            <ion-item *ngIf="registro1.laborValorTratoInicial">Trato Valor: {{registro1.laborValorTratoInicial}}</ion-item>
                            <ion-item>Objetivo Labor: {{registro1.laborObjetivo}}</ion-item>
                            <!-- <ion-item>Contratista: {{registro.contratista_idContratista}}</ion-item> -->
                            <ion-item *ngIf="registro1.contratista_idContratista === '1'; then thenBlock else elseBlock"></ion-item>
                            <ng-template #thenBlock></ng-template>
                            <ng-template #elseBlock>
                                <!-- <ion-item>Contratista: {{registro.contratista_idContratista}}</ion-item>-->
                                <ion-item *ngFor="let con of contratista | filtroGeneral: registro1.contratista_idContratista : 'idContratista' ;">
                                    Contratista: {{con.contratistaNombre}}
                                </ion-item>
                            </ng-template>
                        </ion-list>






                    </div>

                    <ion-item-options side="end" *ngIf="botonesEntrada">
                        <ion-item-option (click)="cerrarRegistro(registro1)" color="danger" [disabled]="disabledEntrada">
                            <ion-icon style="font-size:35px;" name="close"></ion-icon> Cerrar</ion-item-option>
                    </ion-item-options>

                </ion-item-sliding>



            </ion-list>
        </ion-card>





        <!--Autoasignado-->
        <div *ngSwitchCase="'autoasignado'">

            <ion-card-header>
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="leaf-outline"  color="success"></ion-icon>
                    
                    {{nombre}}</ion-card-title>
            </ion-card-header>
            <!--{{tipoLabor_idTipoLabor}}-->


            <form #formularioContacto="ngForm">


                <ion-item>
                    <ion-label position="floating">Cantidad avance:</ion-label>
                    <ion-input [(ngModel)]="cantidadCantidad" name="cantidad" required></ion-input>
                </ion-item>

            </form>

            <div align="center">
                <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="guardar_avance_general_autoasignada(idLabor, usuarioRut, cantidadCantidad,'autoasignado')">

                    <!--<ion-icon style="font-size: 30px;" name="add"></ion-icon>-->
                    <ion-label> Agregar avance</ion-label>
                </ion-button>

            </div>


     

        </div>








        <!--INTERNA-->
        <div *ngSwitchCase="'interna'">

            <ion-card-header>
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="leaf-outline"  color="success"> </ion-icon>
                   
                    {{nombre}}</ion-card-title>
            </ion-card-header>



            <ion-item *ngFor="let registro of listaRut | filtroRut: idLabor : 'idLabor';  let i = index;">
                <div id={{registro.rut}}{{i}} *ngIf="registro.estado == '1'">
                    <!--{{registro.idLabor}} --->
                    <ion-item>
                        <ion-label>{{registro.rut}} : <input style="padding-right:15px;text-align:center;" type="text" id={{i}} size="4" maxlength="4"></ion-label>
                        <ion-button style="padding-left: 15px;" color="success" (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">
                            <ion-icon style="font-size: 20px;" name="add-sharp"></ion-icon>
                        </ion-button>
                        <ion-button style="padding-left: 15px;" color="danger" (click)=" modificar_rut_usuario(idLabor, registro.rut)">
                            <ion-icon style="font-size: 20px;" name="person-remove-sharp"></ion-icon>
                        </ion-button>
                    </ion-item>
                </div>

            </ion-item>
            <div *ngIf="estadoBotonInterna" align="center">
                <ion-button (click)="volver()" shape="round" color="success" expand="block">Agregar avance</ion-button>
            </div>


            <div *ngIf="estadoGrupo2">
                <form #formularioContacto="ngForm">
                    <ion-item>
                        <ion-label position="floating">Cantidad para Grupo:</ion-label>
                        <ion-input [(ngModel)]="cantidadCantidad" name="cantidad" required></ion-input>
                    </ion-item>
                </form>
                <div>
                    <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="guardar_avance_general_autoasignada(idLabor, usuarioRut, cantidadCantidad, 'interna')">
                        <!--<ion-icon style="font-size: 30px;" name="add"></ion-icon>-->
                        <ion-label> Agregar avance</ion-label>
                    </ion-button>
                </div>
            </div>

        </div>


        <!--CONTRATISTA-->
        <div *ngSwitchCase="'contratista'">

            <ion-card-header>
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="leaf-outline"  color="success"> </ion-icon>
                
                    {{nombre}}</ion-card-title>
            </ion-card-header>



            <ion-item *ngFor="let registro of listaRut | filtroRut: idLabor : 'idLabor';  let i = index;">
                <div id={{registro.rut}}{{i}} *ngIf="registro.estado == '1'">
                    <!--{{registro.idLabor}} --->
                    <ion-item>
                        <ion-label>{{registro.rut}} : <input style="padding-right:15px;text-align:center;" type="text" id={{i}} size="4" maxlength="4"></ion-label>
                        <ion-button style="padding-left: 15px;" color="success" (click)="guardar_avance_general(idUsuario,idLabor,registro.rut, laborObjetivo, formato, registro, i)">
                            <ion-icon style="font-size: 20px;" name="add-sharp"></ion-icon>
                        </ion-button>
                        <ion-button style="padding-left: 15px;" color="danger" (click)=" modificar_rut_usuario(idLabor, registro.rut)">
                            <ion-icon style="font-size: 20px;" name="person-remove-sharp"></ion-icon>
                        </ion-button>
                    </ion-item>
                </div>

            </ion-item>





            <div *ngIf="estadoBotonContratista" align="center">
                <ion-button (click)="volver()" shape="round" color="success" expand="block">Agregar avance</ion-button>
            </div>


            <div *ngIf="estadoGrupo2">
                <form #formularioContacto="ngForm">
                    <ion-item>
                        <ion-label position="floating">Cantidad para Grupo:</ion-label>
                        <ion-input [(ngModel)]="cantidadCantidad" name="cantidad" required></ion-input>
                    </ion-item>
                </form>
                <div>
                    <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="guardar_avance_general_autoasignada(idLabor, usuarioRut, cantidadCantidad, 'contratista')">
                        <!--<ion-icon style="font-size: 30px;" name="add"></ion-icon>-->
                        <ion-label> Agregar</ion-label>
                    </ion-button>
                </div>
            </div>




        </div>











        <!--CerrarAutoasignado-->
        <div *ngSwitchCase="'cerrarAutoasignado'">

            <ion-card-header align="left" style="padding:10px;">

                <!--                <p style="font-size: 20px;margin:0px"><b>CERRAR </b>
                    <ion-icon style="font-size: 20px;margin:0px; color:red;" name="close-circle"></ion-icon>
                </p>
            -->

                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="leaf-outline"></ion-icon>
                    <ion-icon style="font-size: 30px;"></ion-icon>{{laborNombre}}
                </ion-card-title>
            </ion-card-header>



            <form #formularioContacto="ngForm">
                <!--
    
                    <ion-label name="idLabor" position="stacked">Nº: {{idLabor}}</ion-label>
                    <br>
                    <ion-label position="stacked">Nombre Labor General: {{laborNombre}}</ion-label>
                    <br>
                    <ion-label name="tipoLabor_idTipoLabor" position="stacked">Unidad: {{tipoLabor_idTipoLabor}}</ion-label>
                    <br>
                    <ion-label position="stacked">Descripción: {{laborDescripcion}}</ion-label>
-->
                <!--
                    <ion-item>
                        <ion-label position="floating">Cantidad</ion-label>
                        <ion-input [(ngModel)]="cantidadCantidad" name="cantidadCantidad" required></ion-input>
                    </ion-item>
                -->

                <div>
                    <ion-item>
                        <ion-label position="stacked">Descripción del Cierre:</ion-label>
                        <ion-textarea placeholder="Agregar Descripción de Cierre..." [(ngModel)]="cierreDescripcion" name="cierreDescripcion" required></ion-textarea>
                    </ion-item>
                </div>
            </form>

            <div align="center">
                <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="cerrarRegistroLabor(idLabor, cierreDescripcion)">


                    <ion-label> Cerrar Labor</ion-label>
                </ion-button>

            </div>




        </div>



        <!--CerrarInterna-->
        <div *ngSwitchCase="'cerrarInterna'">

            <ion-card-header align="left" style="padding:10px;">
                <!--
                    <p style="font-size: 20px;margin:0px"><b>CERRAR </b>
                    <ion-icon style="font-size: 20px;margin:0px; color:red;" name="close-circle"></ion-icon>
                </p>
            -->
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="leaf-outline"></ion-icon>
                    <ion-icon style="font-size: 30px;" ></ion-icon> {{laborNombre}}
                </ion-card-title>

            </ion-card-header>






            <form #formularioContacto="ngForm">

       
                <div>
                    <ion-item>
                        <ion-label position="stacked">Descripción del Cierre:</ion-label>
                        <ion-textarea placeholder="Agregar Descripción de Cierre..." [(ngModel)]="cierreDescripcion" name="cierreDescripcion" required></ion-textarea>
                    </ion-item>
                </div>

            </form>

            <div align="center">
                <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="cerrarRegistroLabor(idLabor, cierreDescripcion)">

                    <ion-label> Cerrar Labor</ion-label>
                </ion-button>

            </div>


        </div>







        <!--CerrarContratista-->
        <div *ngSwitchCase="'cerrarContratista'">

            <ion-card-header align="left" style="padding:10px;">

                <!--<p style="font-size: 20px;margin:0px"><b>CERRAR </b>
                    <ion-icon style="font-size: 20px;margin:0px; color:red;" name="close-circle"></ion-icon>
                </p>-->
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="leaf-outline"></ion-icon>
                    <ion-icon style="font-size: 30px;" ></ion-icon>{{laborNombre}}
                </ion-card-title>
            </ion-card-header>



            <form #formularioContacto="ngForm">

             

                <div>
                    <ion-item>
                        <ion-label position="stacked">Descripción del Cierre:</ion-label>
                        <ion-textarea placeholder="Agregar Descripción de Cierre..." [(ngModel)]="cierreDescripcion" name="cierreDescripcion" required></ion-textarea>
                    </ion-item>
                </div>

            </form>

            <div align="center">
                <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="cerrarRegistroLabor(idLabor, cierreDescripcion)">

                    <ion-label> Cerrar Labor</ion-label>
                </ion-button>

            </div>


        </div>










        <!--CerrarQuimicaContratista-->
        <div *ngSwitchCase="'cerrarQuimica_auto_interna_contratista'">

            <ion-card-header align="left" style="padding:10px;">

                <!--                        <p style="font-size: 20px;margin:0px"><b>CERRAR </b>
                            <ion-icon style="font-size: 20px;margin:0px; color:red;" name="close-circle"></ion-icon>
                        </p>
                    -->
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" name="logo-react" color="danger"></ion-icon>
                 
                    {{laborNombre}}
                </ion-card-title>
            </ion-card-header>







            <form #formularioContacto="ngForm">



                <ion-item-divider>
                    <ion-title style="text-align: center;">Agregar Sobrantes</ion-title>
                </ion-item-divider>

                <ion-grid class="fondo_cierre" *ngIf="cierre_1">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 1</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_1" type="text" required></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_1" type="text" required></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_1" type="text" required></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(1,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_1" (click)="ver_cierre(1)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>





                <ion-grid class="fondo_cierre" *ngIf="cierre_2">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 2</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_2" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_2" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_2" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(2,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_2" (click)="ver_cierre(2)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>


                <ion-grid class="fondo_cierre" *ngIf="cierre_3">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 3</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_3" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_3" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_3" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(3,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_3" (click)="ver_cierre(3)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>



                <ion-grid class="fondo_cierre" *ngIf="cierre_4">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 4</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_4" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_4" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_4" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(4,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_4" (click)="ver_cierre(4)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>


                <ion-grid class="fondo_cierre" *ngIf="cierre_5">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 5</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_5" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_5" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_5" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(5,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_5" (click)="ver_cierre(5)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>

                <ion-grid class="fondo_cierre" *ngIf="cierre_6">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 6</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_6" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_6" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_6" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(6,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_6" (click)="ver_cierre(6)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>

                <ion-grid class="fondo_cierre" *ngIf="cierre_7">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 7</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_7" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_7" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_7" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(7,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_7" (click)="ver_cierre(7)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>

                <ion-grid class="fondo_cierre" *ngIf="cierre_8">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 8</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_8" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_8" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_8" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(8,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_8" (click)="ver_cierre(8)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>

                <ion-grid class="fondo_cierre" *ngIf="cierre_9">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 9</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_9" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_9" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_9" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(9,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="btn_cierre_9" (click)="ver_cierre(9)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>

                <ion-grid class="fondo_cierre" *ngIf="cierre_10">
                    <ion-row>
                        <ion-title size="large">Sobrante Químico 10</ion-title>
                        <ion-col size="8" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Nombre Producto</ion-label>
                                <ion-input id="nombre_cierre_10" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Cantidad Producto</ion-label>
                                <ion-input id="cantidad_cierre_10" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align-self-baseline>
                            <ion-item>
                                <ion-label position="floating">Observación</ion-label>
                                <ion-textarea id="observacion_cierre_10" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6" align="right">
                            <ion-button color="success" (click)="cierre_avance_quimica(10,idLabor);">Confirmar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-button *ngIf="btn_cierre_10" (click)="ver_cierre(10)" color="success">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>







            </form>
            <br>

            <div align="center">
                <ion-button *ngIf="btn_cerrarLaborQuimica" type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="cierre_avance_quimica_descripcion(idLabor, cierreDescripcion)">
                    <ion-label> Cerrar Labor Química</ion-label>
                </ion-button>

            </div>


        </div>









        <!--QUIMICA AUTOASIGNADA-->
        <div *ngSwitchCase="'quimica_autoasignado'">

            <ion-card-header>
                <ion-card-title>
                    <ion-icon style="font-size: 30px;" src="assets/logo-react.svg" color="danger"> </ion-icon>
                    <ion-icon style="font-size: 30px;" src="assets/person-outline.svg" color="danger"></ion-icon>
                    {{nombre}}</ion-card-title>
            </ion-card-header>

            <!--{{tipoLabor_idTipoLabor}}-->

            <ion-card-content style="margin:0px;    padding-left: unset;
            padding-right: unset;
            -webkit-padding-start: 0px;
            padding-inline-start: 0px;
            -webkit-padding-end: 0px;
            padding-inline-end: 0px;">


                <form #formularioContacto="ngForm">



                </form>

                <ion-list *ngFor="let registro of listaRut | filtroGeneral: idLabor : 'idLabor';  let i = index;" style="background-color: #f2f2f2;">

                    <p style="font-size:14px;" hidden>{{registro.rut}}: {{registro.idLabor}}
                        <!--<input type="text" id={{a}} size="3" maxlength="3">-->

                    </p>


                    <div align="center">
                        <!--<p style="font-weight:bold;font-size:30px;margin-right: 20px;">{{registro.rut}}</p> -->

                        <!--<ion-input style="font-weight:bold;font-size:30px;margin-right: 20px;" id=rut_{{i}} enabled>{{registro.rut}}</ion-input>-->
                        <input type="text" id=rut_{{i}} style="font-weight:bold;font-size:20px;border-width: 0px;text-align: center;" value={{registro.rut}} disabled>
                        <!--<input id=rut_{{i}} ngControl="rut" [(ngModel)]="registro.rut"/>-->
                        <ion-col>
                            <p style="font-size:18px;">Bombada: </p>
                            <input style="font-weight:bold;font-size:20px;text-align: center;" type="number" id=bombada_{{i}}>
                        </ion-col>
                    </div>


                </ion-list>


                <div align="center">
                    <ion-button (click)="volver_bombada(idLabor)" shape="round" color="success" expand="block">Agregar avance</ion-button>
                </div>

            </ion-card-content>


            <!---->
            <ion-card-content>
                <form #formularioContacto="ngForm">
                    <!--
              <ion-label name="numeroOt" position="stacked">Nº: {{numeroOt}}</ion-label>
            <br>
-->
                    <ion-label position="stacked">Id: {{idLabor}}</ion-label>
                    <br>
                    <ion-label position="stacked">Nombre Labor Autoasignada Química: {{nombre}}</ion-label>
                    <br>
                    <ion-label name="laborObjetivo" position="stacked">Objetivo: {{laborObjetivo}}</ion-label>
                    <br>
                    <ion-label position="stacked">Descripción: {{descripcion}}</ion-label>

                    <ion-item>
                        <ion-label position="floating">Cantidad:</ion-label>
                        <ion-input [(ngModel)]="cantidadCantidad" name="cantidad" required></ion-input>
                    </ion-item>

                </form>

                <div align="center">
                    <ion-button type="submit" shape="round" color="success" expand="block" [disabled]="formularioContacto.invalid" (click)="guardar_avance_general_autoasignada(idLabor, usuarioRut, cantidadCantidad,'quimica_autoasignado')">

                        <!--<ion-icon style="font-size: 30px;" name="add"></ion-icon>-->
                        <ion-label> Agregar avance</ion-label>
                    </ion-button>

                </div>
            </ion-card-content>


            <!---->


        </div>




        <!--QUIMICA CONTRATISTA   auto_interna_quimica_contratista-->
        <div *ngSwitchCase="'auto_interna_quimica_contratista'">

            <ion-card-header style="font-size: 20px;">
                <ion-card-title style="text-align: center;">Ingreso de Bombada Nº {{totalBombadas}}</ion-card-title>
                <ion-icon name="logo-react" color="danger"> </ion-icon>

                {{nombre}}

            </ion-card-header>


            <ion-card-content style="margin:0px;    padding-left: unset;
            padding-right: unset;
            -webkit-padding-start: 0px;
            padding-inline-start: 0px;
            -webkit-padding-end: 0px;
            padding-inline-end: 0px;">




                <form #formularioContacto="ngForm">



                </form>



                <div align="center" id="form_fusion">

                </div>


                <ion-list *ngFor="let registro1 of listaRut | filtroGeneral: idLabor : 'idLabor';  let i = index;" style="margin-bottom:10px;background-color: #f2f2f2;">

                    <!-- <p style="font-size:14px;" >{{registro1.rut}}: {{registro1.idLabor}}</p> -->

                    <div align="center">
                        <ion-grid>
                            <ion-row>

                                <ion-col size="6">

                                    <input type="text" id=rut_{{i}} style="width:80%;font-weight:bold;font-size:20px;border-width: 0px;text-align: center;" value={{registro1.rut}} disabled>

                                </ion-col>

                                <ion-col size="6">
                                    <p style="font-size:18px;">Bombada: </p>
                                    <input style="width:80%;font-weight:bold;font-size:20px;text-align: center;" type="number" id=bombada_{{registro1.rut}}>
                                </ion-col>

                            </ion-row>
                        </ion-grid>


                        <ion-list *ngFor="let registro of arregloQFusion2 ; let i = index;">
                            <!--| filtroGeneral: idLabor : 'idLabor';  -->

                            <ion-grid id="{{registro1.rut}}{{i}}" style="display:block" *ngIf="registro1.rut == registro.rut && idLabor == registro.idLabor">
                                <ion-row>
                                    <ion-col size="8" align-self-baseline>
                                        <ion-item>
                                            <ion-label position="floating">Nombre Producto</ion-label>
                                            <ion-input id=nombre_{{registro1.rut}}{{i}} type="text"></ion-input>
                                        </ion-item>
                                    </ion-col>

                                    <ion-col size="4" align-self-baseline>
                                        <ion-item>
                                            <ion-label position="floating">Cantidad Producto</ion-label>
                                            <ion-input id=cantidad_{{registro1.rut}}{{i}} type="text"></ion-input>
                                        </ion-item>
                                    </ion-col>

                                    <ion-col size="6" align-self-baseline>
                                        
                                        <ion-item>
                                            <ion-label position="floating">Unidad</ion-label>
                                            <ion-input id=unidad_{{registro1.rut}}{{i}} type="text"></ion-input>
                                        </ion-item>
                                    </ion-col>

                                    <ion-col size="6" align="right">
                                        <ion-button color="success" (click)="guardar_avance_quimica(registro.idLabor, registro1.rut, i);">Agregar</ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </ion-list>


                    </div>
                </ion-list>


                <div align="center" *ngIf="botonAgregarQuimica">
                    <ion-button (click)="volver_bombada(idLabor)" shape="round" color="success" expand="block">Agregar avance</ion-button>
                </div>

            </ion-card-content>


        </div>












    </div>







</ion-content>






<ion-tab-bar slot="bottom" color="light" *ngIf="botonesEntrada">



    <ion-tab-button (click)="ingreso_a_principal2();" [disabled]="disabledEntrada" *ngIf="permiso == 1 || permiso == 3 || permiso == 2">

        <ion-icon name="leaf-outline" color="success"></ion-icon>
        <ion-label>Labor General</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="ingreso_a_principal3();" [disabled]="disabledEntrada" *ngIf="permiso == 1 || permiso == 3">
        <ion-icon name="logo-react" color="danger"></ion-icon>
        <ion-label>Aplicación Química</ion-label>
    </ion-tab-button>

</ion-tab-bar>