<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-title align="center">Ingreso Rut Química
      </ion-title>

      <ion-buttons slot="end">
          <!--<ion-icon class="icono_mediano" name="agro"></ion-icon>-->
      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-menu-button color="tertiary" style="font-size: 16px;" auto-hide="false">1) Datos<ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
          </ion-col>
          <ion-col size="4"> 
            <ion-menu-button color="tertiary" style="font-size: 16px;" auto-hide="false">2) Mojam.<ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
          </ion-col>
          <ion-col size="4">
            <ion-menu-button color="tertiary" style="font-size: 16px;" auto-hide="false">3) Dosis<ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
          </ion-col>
        </ion-row>
    </ion-grid>




  <ion-toolbar color="tertiary" (click)="restaurar1()" >
      <ion-title>Tipo Ingreso: {{seleccionRadioButton}} </ion-title>
      <ion-buttons slot="start">
        <ion-button>
        Paso Nº4
        </ion-button>
      </ion-buttons >
      <ion-buttons slot="end" *ngIf="check_1_general===true && ( tipoLaborNombre==='interna' || tipoLaborNombre==='contratista')  ">
           <ion-menu-button auto-hide="false" ><ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
      </ion-buttons>
      
          
  </ion-toolbar>


<ion-toolbar *ngIf="tipoLaborNombre==='autoasignado'">
    <ion-item>
        <ion-label>RUT:</ion-label>
        <ion-input id="rutAutoasignado" value={{usuarioRut}} name="rutAutoasignado" enabled="false" ></ion-input>
    </ion-item>
</ion-toolbar>
























<!--INICIO fuera de servicio-->
  <ion-toolbar *ngIf="radio===true && ( tipoLaborNombre==='FUERA DE SERVICIO')">
      <ion-list>
          <ion-radio-group>
              <ion-item>
                  <ion-label>RUT</ion-label>
                  <ion-radio slot="start" checked="false" (click)="seleccion('Rut')"></ion-radio>
              </ion-item>

          </ion-radio-group>
      </ion-list>
  </ion-toolbar>

  <div align="center">
      <ion-button *ngIf="show && radio" (click)="avanzar_a_2()" color="tertiary">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
  </div>



<!--
  <ion-toolbar color="light" (click)="restaurar2()" *ngIf="etapa2===true">
      <ion-title>Trabajadores: {{numero}}
      </ion-title>
  </ion-toolbar>
-->


<ion-toolbar color="tertiary" (click)="restaurar2()" *ngIf="etapa2===true">
  
  <ion-title>Cant. Trabajadores: {{listaRut.length + numero}} </ion-title>

  <ion-buttons slot="start">
    <ion-button>
    Paso Nº5
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" *ngIf="listaRut.length >= 1 || numero >= 1">
      <ion-menu-button auto-hide="false" ><ion-icon name="checkmark-circle"></ion-icon></ion-menu-button>
 </ion-buttons>

  
  
</ion-toolbar>







  <!-- por grupo-->
  <div *ngIf="seleccionRadioButton=='Grupo' && etapa2===true">
      <ion-toolbar *ngIf="etapa2_2==true">
          <ion-card-content style="padding-top:5px;padding-bottom:0px;">
              <!-- Toggles in a List -->
              <ion-row>

                  <ion-col size="3">
                  </ion-col>
                  <ion-col size="3">
                      <ion-label>Cantidad Nº</ion-label>
                  </ion-col>
                  <ion-col size="3" align="center">
                      <ion-input style="background-color:#0cd1e8; font-size: 25px; font-weight: bolder; " type="number" minlength="1" maxlength="5" [(ngModel)]="numero" name="numero" required pattern="[0-9]+">
                      </ion-input>
                  </ion-col>
                  <ion-col size="3">
                  </ion-col>

              </ion-row>
          </ion-card-content>

<!--            
  <div align="center">
              <ion-button *ngIf="numero" (click)="avanzar_a_3(seleccionRadioButton)" color="tertiary">
                  <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
              </ion-button>
          </div>
      -->


      </ion-toolbar>


  </div>




  <!-- por rut-->
  <div *ngIf="seleccionRadioButton=='Rut' && etapa2===true" >

      <ion-toolbar>
          <ion-card-content style="padding-top:5px;padding-bottom:0px;">

              <!--**************** -->

              <form #formularioSelNumero="ngForm">

                  <!--Boton escanear-->
                  <ion-card-content *ngIf="!mostrar" align="center" style="padding-top:0px;padding-bottom:5px;">

                      <ion-row>
                          <ion-col style="padding-top:0px;padding-bottom:5px;">
                              <ion-button color="success" (click)="scan(this.responseId)">Escanear</ion-button>

                              <!--boton crear rut-->
                              <!--
          <ion-button [disabled]="toggleEstadoBoton" (click)="presentAlertPrompt()" color="danger" size="small"
          shape="round">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
-->
                              <ion-button *ngIf="boton_rut" (click)="validar_rut()" color="success" >
                                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                              </ion-button>
                          </ion-col>
                      </ion-row>

                  </ion-card-content>

                  <!--validador de rut-->

                  <!--  <ion-button *ngIf="boton_rut" (click)="validar_rut()" color="light" fill="outline" size="small" shape="round">
<ion-icon  slot="icon-only"  name="add-circle-outline"></ion-icon>
</ion-button>-->

                  <ion-row *ngIf="caja_rut">

                      <ion-col style="padding-top:0px;padding-bottom:15px;">
                          <input id="usuario2" style="margin-left: 10px;text-align: center;font-size: 25px;height: 30px;margin-top: 10px;border-width: 0.1px;border-color: #eeeeee;" ng-model="usuario2" name="usuario2" type="text" autofocus="" value="" onchange="checkRutField(usuario2.value,'usuario2','rut2')"
                              size="15" maxlength="15" required>
                          <ion-input id="rut2" value="" [(ngModel)]="datosUsuario2.rut2" name="rut2" hidden></ion-input>
                          <ion-button *ngIf="leer_rutValEstado() == 'true'" id="boton_rut_val" style="margin-bottom:20px;" (click)="ingresar_rut('Manual', this.responseId, 'estado')" color="success">
                              <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                          </ion-button>
                      </ion-col>
                  </ion-row>


                  <ion-row *ngIf="caja_rut_datos">
                      <form #formularioRut="ngForm">
                          <ion-item>
                              <ion-label position="floating">Nombre de Usuario:</ion-label>
                              <ion-input id="usuarioNombre" value="" [(ngModel)]="datosUsuario.usuarioNombre" name="usuarioNombre" required></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label position="floating">Apellido Paterno de Usuario:</ion-label>
                              <ion-input id="usuarioApellidoPaterno" value="" [(ngModel)]="datosUsuario.usuarioApellidoPaterno" name="usuarioApellidoPaterno" required></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label position="floating">Celular:</ion-label>
                              <ion-input id="usuarioCelular" value="" [(ngModel)]="datosUsuario.usuarioCelular" name="usuarioCelular" required></ion-input>
                          </ion-item>
                      </form>
                      <button color="success" [hidden]="!formularioRut.valid" (click)="guardar_nuevo_rut_usuario(datosUsuario, datosUsuario2.rut2)">Guardar</button>
                  </ion-row>







              </form>

              <ion-card-content *ngIf="mostrar" style="padding-top:0px;padding-bottom:5px;">
                  <ion-row>
                      <ion-col style="padding-top:0px;padding-bottom:5px;">

                          <div align="center">
                              <ion-button color="success" expand="block" id="botonNumero" type="submit" [disabled]="formularioSelNumero.invalid" (click)="guardarRegistroNgrupo()">
                                  Cargar Grupo
                              </ion-button>
                          </div>

                      </ion-col>
                  </ion-row>
              </ion-card-content>


              <ion-card>


                  <div class="scroll">

                      <ion-item-sliding *ngFor="let registro of listaRut; let i = index ">

                          <ion-item (click)="abrirRegistro(registro)" detail>
                              <ion-icon slot="start" name="person"></ion-icon>
                              <ion-label>
                                  <h2>{{registro.rut}}</h2>
                              </ion-label>
                          </ion-item>

                          <ion-item-options side="end">
                              <ion-item-option color="danger" (click)="cerrarLabor(i)">Borrar</ion-item-option>
                          </ion-item-options>

                      </ion-item-sliding>

                  </div>

              </ion-card>








              <!--********************************-->


          </ion-card-content>
      </ion-toolbar>
      <div align="center">
          <ion-button *ngIf="numero2" (click)="avanzar_a_3(seleccionRadioButton)" color="tertiary">
              <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
      </div>
  </div>



  <!-- finalizar-->
  <div *ngIf="etapa3==true">

      <ion-toolbar color="tertiary" (click)="restaurar3()">
          <ion-title>Requisitos 100%</ion-title>

      </ion-toolbar>

      <ion-toolbar>
          <ion-card-content style="padding-top:5px;padding-bottom:0px;">
              <!-- Toggles in a List -->
              <ion-row>

              </ion-row>
          </ion-card-content>
      </ion-toolbar>
      <div align="center">


          <ion-button (click)="crearLabor()" color="success" expand="full" shape="round">
              Crear Labor
              <ion-icon name="checkmark-circle"></ion-icon>
          </ion-button>


      </div>
  </div>

<!--fin fuera de servicio-->
























  <ion-toolbar *ngIf="tipoLaborNombre==='interna' || tipoLaborNombre==='contratista'" >
    <!-- por rut-->

      <ion-card-content style="padding-top:5px;padding-bottom:0px;">

          <!--**************** -->

          <form #formularioSelNumero="ngForm">

              <!--Boton escanear-->
              <ion-card-content *ngIf="!mostrar" align="center" style="padding-top:0px;padding-bottom:5px;">

                  <ion-row>
                      <ion-col style="padding-top:0px;padding-bottom:5px;">
                          <ion-button color="success" (click)="scan()">Escanear</ion-button> <!-- this.responseId -->

                          <ion-button *ngIf="boton_rut" (click)="validar_rut()" color="success">
                              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                          </ion-button>
                      </ion-col>
                  </ion-row>

              </ion-card-content>

              <!--validador de rut-->

              <ion-row *ngIf="caja_rut">

                  <ion-col style="padding-top:0px;padding-bottom:15px;">
                      <input id="usuario2" style="margin-left: 10px;text-align: center;font-size: 25px;height: 30px;margin-top: 10px;border-width: 0.1px;border-color: #eeeeee;" ng-model="usuario2" name="usuario2" type="text" autofocus="" value="" onchange="checkRutField(usuario2.value,'usuario2','rut2')"
                          size="15" maxlength="15" required>
                      <ion-input id="rut2" value="" [(ngModel)]="datosUsuario2.rut2" name="rut2" hidden></ion-input>
                      <ion-button *ngIf="leer_rutValEstado() == 'true'" id="boton_rut_val" style="margin-bottom:20px;" (click)="ingresar_rut('Manual', this.responseId, 'estado')" color="success" >
                          <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                      </ion-button>
                  </ion-col>
              </ion-row>


              <ion-row *ngIf="caja_rut_datos">
                  <form #formularioRut="ngForm">
                      <ion-item>
                          <ion-label position="floating">Nombre de Usuario:</ion-label>
                          <ion-input id="usuarioNombre" value="" [(ngModel)]="datosUsuario.usuarioNombre" name="usuarioNombre" required></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Apellido Paterno de Usuario:</ion-label>
                          <ion-input id="usuarioApellidoPaterno" value="" [(ngModel)]="datosUsuario.usuarioApellidoPaterno" name="usuarioApellidoPaterno" required></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Celular:</ion-label>
                          <ion-input id="usuarioCelular" value="" [(ngModel)]="datosUsuario.usuarioCelular" name="usuarioCelular" required></ion-input>
                      </ion-item>
                  </form>
                  <button color="success" [hidden]="!formularioRut.valid" (click)="guardar_nuevo_rut_usuario(datosUsuario, datosUsuario2.rut2)">Guardar</button>
              </ion-row>

          </form>

          <ion-card>


              <div class="scroll">

                  <ion-item-sliding *ngFor="let registro2 of listaRut; let ii = index ">

                      <ion-item (click)="abrirRegistro(registro2)" detail>
                          <ion-icon slot="start" name="person"></ion-icon>
                          <ion-label>
                              <h2>{{registro2.rut}}</h2>
                          </ion-label>
                      </ion-item>

                      <ion-item-options side="end">
                          <ion-item-option color="danger" (click)="cerrarLabor(ii)">Borrar</ion-item-option>
                      </ion-item-options>

                  </ion-item-sliding>

              </div>

          </ion-card>


      </ion-card-content>
 
  <div align="center">
      <ion-button *ngIf="numero2" (click)="avanzar_a_3(seleccionRadioButton)" color="tertiary">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
  </div>

</ion-toolbar>













<!--<button (click)="crearListaFusionRutQlocal()">fusion</button>-->


</ion-content>







<!--boton ingresar labor-->
<!--             <ion-button *ngIf="mostrarIngresarLabor" (click)="ingresarLaborGeneralRut(listaRut)" color="success" expand="full" shape="round">Ingresar Labor</ion-button>
-->


<ion-tab-bar slot="bottom" color="light"  *ngIf="mostrarIngresarLabor || numero >= 1"> 
    <ion-tab-button type="submit" shape="round" color="danger" expand="block" (click)="ingresarLaborQuimicaRut(listaRut)" >

        <ion-icon name="logo-react" color="danger"></ion-icon>
        <ion-label>Ingresar Labor Química</ion-label>
    </ion-tab-button>
    </ion-tab-bar>



    <ion-tab-bar slot="bottom" color="light"  *ngIf="tipoLaborNombre==='autoasignado'"> 
        <ion-tab-button type="submit" shape="round"color="danger" expand="block" (click)="ingresarLaborQuimicaRutAutoasignado(usuarioRut)">
    
            <ion-icon name="logo-react" color="danger"></ion-icon>
            <ion-label>Confirmar</ion-label>
        </ion-tab-button>
        </ion-tab-bar>


