<ion-header>
   
</ion-header>


<ion-content>
    <br><br><br><br><br>
    <form #formularioUsuario="ngForm">


        <ion-card-content>
            <ion-item>
                <ion-label position="stacked">R.U.T.:</ion-label>


                <input id="usuario" style="width:100%;text-align: center;font-size: 25px;height: 30px;margin-top: 10px;border-width: 0.1px;border-color: #eeeeee;" ng-model="usuario" name="usuario" type="text" autofocus="" value="" onchange="checkRutField(usuario.value,'usuario','rut')"
                    size="15" maxlength="15" required>
                <ion-input id="rut" value="" [(ngModel)]="datosUsuario.rut" name="rut" hidden></ion-input>


            </ion-item>

            <ion-item>
                <ion-label position="stacked">PASS:</ion-label>
                <ion-input type="password" name="pass" [(ngModel)]="datosUsuario.pass" style="text-align: center;font-size: 25px;height: 30px;margin-top: 10px;border-width: 0.1px;border-color: #eeeeee;" size="15" maxlength="15" required></ion-input>
            </ion-item>
        </ion-card-content>

        <br>
        <div align="center">
            <ion-button type="submit" color="success" [disabled]="!formularioUsuario.valid" (click)="validarUsuario(formularioUsuario)">Validar Usuario</ion-button>
            <!--onSubmitTemplate-->
        </div>
 
    </form>

 

    <br>



    <div align="center">
       

        <!--
            <br>
          <p>{{AppName}}</p>
          <br>
          <p>{{VersionNumber}}</p>
          <p style="font-size:10px;">Hecho con <ion-icon name="heart"></ion-icon> en Rancagua - 2019</p>
-->

    </div>




</ion-content>