<ion-header>

</ion-header>

<ion-content>

<br><br><br>
    <ion-card>
        <ion-card-header>
        
          <ion-card-title>Sistema Ingreso de Labores</ion-card-title>
        </ion-card-header>
      
       
        <br><br><br>
      </ion-card>
   
</ion-content>
 

<ion-tab-bar slot="bottom" color="light" > 
  <ion-tab-button  type="submit" shape="round" color="success" expand="block" (click)="enviar_playpause('botonIngresar');" [hidden]="botonIngresar" (click)="ingreso_a_principal();">

      <ion-icon name="alarm-outline" color="success"></ion-icon>
      <ion-label>Confirmar</ion-label>
  </ion-tab-button>
  </ion-tab-bar>