// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.icono_mediano {
    margin-right: 15px;
    font-size: 40px; //Preferred size here
}
.icono_small {
    margin-right:10px;
    font-size: 25px; //Preferred size here
}



body{
    background-color: #fcfcfc;
}



.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

.sc-ion-card-md-h {
    --background: var(--ion-item-background,transparent);
    --color: var(--ion-color-step-550,#737373);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px; 
    margin-bottom: 0px; 
    border-radius: 4px;
    font-size: 14px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-content-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 16px;
    padding-inline-start: 0px;
    -webkit-padding-end: 16px;
    padding-inline-end: 0px;
}

.item-inner {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--inner-padding-start);
    padding-inline-end: calc(var(--ion-safe-area-right, 0px) + var(--inner-padding-end));
    padding:0px;
}










