<ion-header>
  <ion-toolbar>
    <ion-title>generaAPQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink="/apq-interna">
      APQ Internas
        </ion-button>
  
        
        <ion-button routerLink="/apq-contratista">
          APQ Contratista
            </ion-button>

</ion-content>
