
<ion-header>




    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title align="center">Crear Labor General
        </ion-title>

        <ion-buttons slot="end">
         
            <ion-icon style="font-size:30px;padding-right: 20px;" src="leaf-outline"></ion-icon>
        </ion-buttons>


    </ion-toolbar>










</ion-header>





<ion-content >


    <ion-toolbar>

        <ion-segment [(ngModel)]="segmento">

            <ion-segment-button value="autoasignado" *ngIf="permiso == 1 || permiso == 3 || permiso == 2">
                <ion-label style="font-size:12px;">Auto Asignado</ion-label>
                <ion-icon style="font-size: 40px;" name="person-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="interna" *ngIf="permiso == 1 || permiso == 3 ">
                <ion-label style="font-size:12px;">MO Interna</ion-label>
                <ion-icon style="font-size: 40px;" name="people-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="contratista" *ngIf="permiso == 1">
                <ion-label style="font-size:12px;">Contratista</ion-label>
                <ion-icon style="font-size: 40px;" name="construct-outline"></ion-icon>
            </ion-segment-button>


        </ion-segment>

    </ion-toolbar>


    
    <div [ngSwitch]="segmento">

        <!--Autoasignado-->
        <div *ngSwitchCase="'autoasignado'">


            <ion-app>
               
                <ion-card-header>
                    Auto Asignado
                </ion-card-header>

           
                <ion-card-content>

                    <form #formularioLaborGeneralAutoasignado="ngForm">

                        <ion-item>
                            <ion-label position="floating">Nombre Labor General:</ion-label>
                            <ion-input  (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Objetivo labor:</ion-label>
                            <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-label position="floating">Cuartel:</ion-label>
                            <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-label position="floating">Descripción:</ion-label>
                            <ion-input (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-input>
                        </ion-item>


                    </form>





                </ion-card-content>




           

                        
                <ion-tab-bar slot="bottom" color="light" > 
                    <ion-tab-button *ngIf="formGeneral" type="submit" shape="round" color="success" expand="block"  [disabled]="formularioLaborGeneralAutoasignado.invalid" (click)="ruta_laborGeneral('autoasignada')">
                
                        <ion-icon name="leaf-outline" color="success"></ion-icon>
                        <ion-label>Confirmar</ion-label>
                    </ion-tab-button>
                    </ion-tab-bar>


            </ion-app>
       
        </div>
    





        <!--INTERNA-->
        <div *ngSwitchCase="'interna'">

            <ion-app>
                <ion-card-header>
                    Interna
                </ion-card-header>



                <ion-card-content>

                    <form #formularioLaborGeneralInterna="ngForm">

                        <ion-item>
                            <ion-label position="floating">Nombre Labor General:</ion-label>
                            <ion-input (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Objetivo labor:</ion-label>
                            <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-label position="floating">Cuartel:</ion-label>
                            <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-label position="floating">Descripción:</ion-label>
                            <ion-input (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-input>
                        </ion-item>


                    </form>





                </ion-card-content>


          

                
                <ion-tab-bar slot="bottom" color="light" > 
                    <ion-tab-button *ngIf="formGeneral" type="submit" shape="round" color="success" expand="block"  [disabled]="formularioLaborGeneralInterna.invalid" (click)="ruta_laborGeneral('interna')">
                
                        <ion-icon name="leaf-outline" color="success"></ion-icon>
                        <ion-label>Confirmar</ion-label>
                    </ion-tab-button>
                    </ion-tab-bar>


            </ion-app>

        </div>







        <!--CONTRATISTA-->
        <div *ngSwitchCase="'contratista'">

            <ion-app>

                <ion-card-header>
                    Contratista
                </ion-card-header>




                <ion-card-content>

                    <form #formularioLaborGeneralContratista="ngForm">

                        <ion-item>
                            <ion-label position="floating">Nombre Labor General:</ion-label>
                            <ion-input (change)="guardar_nombre(labores.laborNombre)" [(ngModel)]="labores.laborNombre" name="nombre" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Objetivo labor:</ion-label>
                            <ion-input [(ngModel)]="labores.laborObjetivo" name="laborObjetivo" required></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-label position="floating">Cuartel:</ion-label>
                            <ion-input [(ngModel)]="labores.laborCuartel" name="laborCuartel" required></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-label position="floating">Descripción:</ion-label>
                            <ion-input (change)="guardar_descripcion(labores.laborDescripcion)" [(ngModel)]="labores.laborDescripcion" name="descripcion" required></ion-input>
                        </ion-item>




                        <ion-item>
                            <ion-label position="floating">Trato Inicial:</ion-label>
                            <ion-input [(ngModel)]="labores.laborValorTratoInicial" name="laborValorTratoInicial" required></ion-input>
                        </ion-item>




                        <ion-list>
                            <ion-item>
                                <ion-label position="floating">Contratista</ion-label>
                                <ion-select value="notifications" ok-text="OK" cancel-text="Cancelar"   [(ngModel)]="contratista.idContratista" name="idContratista" cancel-text="Cancelar" required>

                                    <ion-select-option *ngFor="let con of contratista" value="{{con.idContratista}}">
                                        {{con.contratistaNombre}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>



                    </form>



                </ion-card-content>

         

                <ion-tab-bar slot="bottom" color="light" > 
                    <ion-tab-button *ngIf="formGeneral" type="submit" shape="round" color="success" expand="block"  [disabled]="formularioLaborGeneralContratista.invalid" (click)="ruta_laborGeneral('contratista')">
                
                        <ion-icon name="leaf-outline" color="success"></ion-icon>
                        <ion-label>Confirmar</ion-label>
                    </ion-tab-button>
                    </ion-tab-bar>

            </ion-app>
        </div>






        <!--prueba-->














    </div>
    <!--fin segmento-->


</ion-content>