.scroll {
    overflow: scroll;
    height: 500px;
}

.label_1 {
    font-size: 14px;
    font-weight: bold;
}

.borrar {
    display: none;
}

ion-col {
    background-color: #ededed;
    border: solid 0.1px #ffffff;
    padding: 3px;
}

.celda {
    background-color: #ededed;
    border: solid 0.1px #ffffff;
    padding: 3px;
}

.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.parrafoGris1 {
    color: #cccccc;
    text-align: right;
}

.label-floating.sc-ion-label-md-h,
.label-stacked.sc-ion-label-md-h {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.sc-ion-card-md-h {
    --background: var(--ion-item-background, transparent);
    --color: var(--ion-color-step-550, #737373);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 20px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

form,
input,
optgroup,
select {
    margin: 0;
    font: inherit;
    color: inherit;
    padding: 10px;
}