<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        
        <ion-title style="font-size: 25px" align="center">Ingreso 
        </ion-title>
    
          <ion-buttons slot="end">
          <!--<ion-icon class="icono_mediano" name="agro"></ion-icon>-->
        </ion-buttons>
   
    
      </ion-toolbar>
  
</ion-header>



<ion-content class="ion-text-center" >


    <ion-grid style="margin-top:100px;" >
        <ion-row>
          <ion-col>
           
              <ion-button  expand="block" color="tertiary" size="large" (click)="enviar_playpause('botonIngresar');" [disabled]= "disabledIngresar" [hidden]="botonIngresar" style="font-size:20px;" >Ingresar
                </ion-button>              
          </ion-col>
        </ion-row>


       

        <ion-row>           
            <ion-col>
                
                <ion-button expand="block" color="success" shape="round" size="large"  (click)="enviar_playpause('botonPlay');" [disabled]= "disabledPlay" [hidden]="botonPlay" >
                  <ion-icon style="font-size:60px;" name="play"></ion-icon>
                </ion-button>

                <ion-button expand="block" color="danger" size="large"  shape="round" (click)="enviar_playpause('botonPausa');" [disabled]= "disabledPausa" [hidden]="botonPausa"  >
                  <ion-icon style="font-size:60px;" name="pause"></ion-icon>
              </ion-button>
                  
            </ion-col>         
        </ion-row>




  


            <ion-row>           
                <ion-col >
              
                    <ion-button expand="block" color="danger" size="large" (click)="enviar_playpause('botonSalida');" [disabled]= "disabledSalida" [hidden]="botonSalida" style="font-size:20px;" >Salida
                      </ion-button>
                      
                </ion-col>         
            </ion-row>
    


<!--
            <ion-row>
              <ion-col >
                  <ion-button size="large" color="danger" shape="round">
                      <ion-icon style="font-size:60px;" name="pause"></ion-icon>
                    </ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-button  size="large" style="font-size:20px;" color="light">Salida
                   
                    </ion-button>
                  </ion-col>
                </ion-row>
-->

      </ion-grid>









</ion-content>


<!--
          <ion-row>
            <ion-col>
                <ion-button  (click)="ingreso_a_principal();" [disabled]= "disabledPlay" [hidden]="botonPlay" style="font-size:12px;" >Ir a Aplicación
                  </ion-button>
            </ion-col>
          </ion-row>
-->
<ion-footer>
  <ion-toolbar align="center" color="light">
    <ion-button expand="full" color="success" (click)="ingreso_a_principal();" [disabled]= "disabledEntrada" style="font-size:12px;">
        <ion-icon name="walk"></ion-icon> Entrar
    </ion-button>
  </ion-toolbar>
</ion-footer>





