<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Generador de Labores</ion-title>
  </ion-toolbar>
</ion-header>


<!--routerLink="/generales-interna"-->


<ion-content>

    <ion-card>

        <form #formulario="ngForm" (ngSubmit)="ngSubmitTemplate()">
        
            <ion-item>
                <ion-label position="floating" >Nombre :</ion-label>
                <ion-input [(ngModel)]="labores.nombre" name="nombre" required></ion-input>
              </ion-item>

<!--
                <ion-item>
                <ion-label position="floating" >Tipo:</ion-label>
                <ion-input [(ngModel)]="labores.tipo" name="nombre" required></ion-input>
              </ion-item>
-->

              <ion-item>
                <ion-label position="floating" >Tipo:</ion-label>
                <ion-select  [(ngModel)]="labores.tipo" name="tipo" required>
                  <ion-select-option value="agro-negro">Labores Generales</ion-select-option>
                  <ion-select-option value="quimica-negro">Aplicación</ion-select-option>
                </ion-select>
              </ion-item>

        
              <ion-item>
                  <ion-label position="floating" >Descripción:</ion-label>
                  <ion-textarea [(ngModel)]="labores.descripcion" name="descripcion" required></ion-textarea>
              </ion-item>
        
        </form>
        
            <!--nombreLabor, tipoLabor, descripcionLabor,  estadoLabor-->
            <div align="center">
                <ion-button type="submit"
                [disabled]="formulario.invalid"
                (click)="agregarLabor()">Agregar labor</ion-button> <!--onSubmitTemplate-->
            </div>
               
    </ion-card>





<!--
      <ion-button routerLink="/genera-generales">
    Labores Generales
      </ion-button>

      
      <ion-button routerLink="/genera-apq">
        Aplicación de Productos Químicos
          </ion-button>
-->
<ion-card>
<div class="scroll" >
<ion-list scrollX="true">



<ion-item-sliding *ngFor="let registro of dataLocalLabor.guardadosLabores; let i = index" >

  <ion-item
  (click)="abrirRegistro(registro)"
  detail>
  <ion-icon slot="start" name="{{registro.tipoLabor}}"></ion-icon>
  <ion-label>
<h2>{{registro.nombreLabor}}</h2>
  </ion-label>
</ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="cerrarLabor(i)">Borrar</ion-item-option>
  </ion-item-options>
</ion-item-sliding>




</ion-list>
</div>
</ion-card>



<!--prueba-->

<!--prueba fin-->


</ion-content>
