.agro {
    background: url('/src/assets/leaf-outline.svg');
}

.agro-contratista {
    background: url('/src/assets/leaf-outline-contratista.svg');
}

.quimica-contratista {
    background: url('/src/assets/logo-react-contratista.svg');
}

.quimica {
    background: url('/src/assets/logo-react.svg');
}

.scroll {
    overflow: scroll;
    height: 300px;
}