<ion-header>
  <ion-toolbar>
    <ion-title>generaGenerales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button routerLink="/generales-interna">
      Labores Internas
        </ion-button>
  
        
        <ion-button routerLink="/generales-contratista">
          Labores Contratista
            </ion-button>

</ion-content>
